<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>模板应用</title>
    <link href="../../css/element.css" rel="stylesheet" />
    <link href="../../css/style.css" rel="stylesheet" />
    <script src="../../scripts/vue.js"></script>
    <script src="../../scripts/element.js"></script>
    <script src="../../scripts/jquery-3.2.1.min.js"></script>
    <script src="../../scripts/i18n/zh-CN.js"></script>
    <script src="../../scripts/i18n/en.js"></script>
    <script src="../i18n/en.js"></script>
    <script src="../i18n/zh-CN.js"></script>
    <script src="../../scripts/polyfill.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../../scripts/web-platform.js"></script>
    <script src="../js/errorCode.js"></script>
    <script src="../../scripts/lodash.min.js"></script>
    <script src="../../scripts/Chart.bundle.min.js"></script>
    <script src="js/rest.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }

        body {
            min-width: 900px;
        }

        .deployContent {
            padding: 20px;
        }

        .optionGroup {
            float: right;
            position: relative;
        }

        .infoTitle {
            font-size: 18px;
            font-weight: 600;
            margin: 20px 0;
            display: block;
        }

        .deployinfo {
            border-collapse: collapse;
            width: 100%;
        }

        .deployinfo tr td {
            height: 30px;
            padding-left: 5px;
        }

        .dashBorder {
            width: 100%;
            height: 1px;
            border-bottom: #dddddd 1px dashed;
            margin-bottom: 25px;
            margin-top: 25px;
        }

        .input-with-select {
            margin-top: 15px;
        }

        .activeDesc {
            margin-left: 15px;
            color: #e6a23c;
        }

        .ProfilId {
            overflow: hidden;
            /*内容超出后隐藏*/
            text-overflow: ellipsis;
            /* 超出内容显示为省略号*/
            white-space: nowrap;
            /*文本不进行换行*/
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <el-row v-loading.fullscreen.lock="fullscreenLoading " :element-loading-text="i18ns.common.loading">
            <div class="deployContent">
                <div>
                    <span class="infoTitle">{{i18ns.OSDeploy.deploy_basicInfo}}</span>
                    <el-row>
                        <table class="deployinfo">
                            <tr>
                                <td style="width:15%;">{{i18ns.config.configurationModule_profileName+':'}}</td>
                                <td style="width:35%;">{{applyObj.Name}}</td>
                                <td style="width:15%;">{{i18ns.config.configurationModule_description+':'}}</td>
                                <td style="width:35%;">{{applyObj.Description}}</td>
                            </tr>
                            <tr>
                                <td>{{i18ns.config.configurationModule_deviceType+':'}}</td>
                                <td>{{deviceType}}</td>
                            </tr>
                        </table>
                    </el-row>
                </div>
                <div class="dashBorder"></div>
                <div>
                    <span class="infoTitle">{{i18ns.config.configurationModule_setInfo}}</span>
                    <el-row class="mt20">
                        <div class="input-with-select">
                            <span>{{i18ns.config.configurationModule_activeSetting}}：</span>
                            <el-select v-model="ActiveType" @change="ActiveTypeChange">
                                <el-option v-for="item in ActiveTypes" :key="item.value" :label="item.label"
                                    :value="item.value"></el-option>
                            </el-select>
                            <span v-if="ActiveType=='Later'"
                                class="activeDesc">{{i18ns.config.configurationModule_applyLaterTip}}</span>
                            <span v-else-if="ActiveType=='Immediately'" class="activeDesc"><i
                                    class="el-icon-warning"></i>&nbsp;
                                {{i18ns.config.configurationModule_applyImmediatelyTip}}</span>
                            </el-alert>
                        </div>
                    </el-row>
                    <el-row :gutter="20">
                        <el-col :span="24">
                            <span class="infoTitle">{{i18ns.config.configurationModule_canSelectDevice}}</span>
                            <el-table :data="listData" style="width: 100%" @selection-change="handleSelectionChange"
                                ref="deviceTable">
                                <el-table-column type="selection" width="55"></el-table-column>
                                <el-table-column prop="IPv4Address.Address" label="BMC IP"> </el-table-column>
                                <el-table-column prop="Profile.State" :label="i18ns.config.configurationModule_state">
                                    <template slot-scope="scope">
                                        {{getStateTxt(scope.row.Profile.State)}}
                                    </template>
                                </el-table-column>
                            </el-table>
                        </el-col>
                        <el-col :span="24">
                            <span class="infoTitle">{{i18ns.config.configurationModule_alreadySelectDevice}}</span>
                            <el-table :data="selectData" style="width: 100%">
                                <el-table-column prop="IPv4Address.Address" label="BMC IP"> </el-table-column>
                                <el-table-column prop="Profile.State" :label="i18ns.config.configurationModule_state">
                                    <template slot-scope="scope">
                                        {{getStateTxt(scope.row.Profile.State)}}
                                    </template>
                                </el-table-column>
                                <el-table-column :label="i18ns.common.operation">
                                    <template slot-scope="scope">
                                        <el-button type="text" size="small"
                                            @click="deleteDevice(scope.$index,scope.row)">{{i18ns.common.delete}}
                                        </el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </el-col>
                    </el-row>
                </div>
                <!-- 应用弹窗 -->
                <el-dialog :close-on-click-modal="false" :title="i18ns.common.warn" :visible.sync="tipsDialogisible">
                    <el-row>
                        <el-alert :title="i18ns.config.configurationModule_confirmApply" type="warning"
                            :description="tipsTxt" show-icon :closable="false">
                        </el-alert>
                    </el-row>
                    <el-table :data="selectData" style="width: 100%; margin-top: 10px;"
                        header-row-class-name="my_table_header">

                        <el-table-column prop="IPv4Address.Address" label="BMC IP"> </el-table-column>
                        <el-table-column prop="Profile.State" :label="i18ns.config.configurationModule_state">
                            <template slot-scope="scope">
                                {{getStateTxt(scope.row.Profile.State)}}
                            </template>
                        </el-table-column>
                    </el-table>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="tipsDialogisible=false">{{i18ns.common.cancel}}</el-button>
                        <el-button @click="ensureConfig" v-loading.fullscreen.lock="fullscreenLoading"
                            v-show="selectData.length>0" :element-loading-text="i18ns.common.loading" type="primary">
                            {{i18ns.common.confirm}}</el-button>
                    </div>
                </el-dialog>
            </div>
        </el-row>
        <el-row>
            <el-button style="margin-top:10px;" @click="back">{{i18ns.common.cancel}}</el-button>
            <el-button :disabled="selectData.length<=0" type="primary" @click="tipsDialogisible=true">
                {{i18ns.common.apply}}</el-button>
        </el-row>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                i18ns: [],
                FDs: [],
                FDIp: '',
                loading: false,
                fullscreenLoading: false,
                applyObj: {},
                deviceType: "",
                ActiveTypes: [],
                ActiveType: "Later",
                create: {
                    Params: [],
                    Source: [],
                    Target: []
                },
                listData: [],
                selectData: [], //选择的设备
                tipsDialogisible: false,
                tipsTxt: '',
            },
            computed: {

            },
            created: function () {
                this.i18ns = getIn18();
                this.FDIp = getCurrentFD();
                this.deployId = getQueryString('id');
                this.deviceType = localStorage.getItem('deviceType');
                this.getServerType();
                this.tipsTxt = this.i18ns.config.configurationModule_applyLaterApplyTip;
            },
            mounted: function () {
                Vue.nextTick(function () {
                    app.getDeployInfo();
                    app.getProfilInfo();
                })
            },
            methods: {

                getStateTxt: function (State) {
                    if (State == 'Binding') {
                        return this.i18ns.config.configurationModule_stateBinding;
                    } else if (State == "Active") {
                        return this.i18ns.config.configurationModule_stateActive;
                    } else if (State == "Unbinding") {
                        return this.i18ns.config.configurationModule_stateUnbinding;
                    } else {
                        return this.i18ns.config.configurationModule_stateUnknown;
                    }
                },
                /**
                 *  返回按钮方法 
                 * **/
                back: function () {
                    window.location.href = './index.html?s=' + Math.random();
                },
                /**
                 * 获取模板详情
                 */
                getDeployInfo: function () {
                    var param = {
                        ip: this.FDIp,
                        id: this.deployId
                    };
                    serverprofileManage.getOneServerProfiles(param, function (ret) {
                        if (ret.code == '0') {
                            app.applyObj = ret.data[0].data;
                        } else {
                            if (ret.ip != app.FDIp) {
                                return false
                            }
                            var msg = getErrorMsg(ret);
                            alertMsg(msg);
                        }
                    })
                },
                /**
                 * 获取设备信息
                 */
                getProfilInfo: function () {
                    var param = {
                        ip: this.FDIp,
                        hardwareModelId: "",
                        serverProfileId: this.deployId
                    };
                    serverprofileManage.getNodeProfileQuery(param, function (ret) {
                        if (ret.code == '0') {
                            app.listData = ret.data[0].data.Members;
                        } else {
                            if (ret.ip != app.FDIp) {
                                return false
                            }
                            var msg = getErrorMsg(ret);
                            alertMsg(msg);
                        }
                    })
                },
                /**
                 * 生效设置常量
                 */
                getServerType: function () {
                    this.ActiveTypes = [{
                        label: this.i18ns.config.configurationModule_applyImmediatelyLabel,
                        value: 'Immediately'
                    }, {
                        label: this.i18ns.config.configurationModule_applyLaterLabel,
                        value: 'Later'
                    }];
                },
                /**
                 * 全选事件
                 * 
                 * @param {any} val 
                 */
                handleSelectionChange: function (val) {
                    console.log(val);
                    this.selectData = val;
                },
                /**
                 * 生效方式改变
                 */
                ActiveTypeChange: function () {
                    this.create.Params.Value = this.ActiveType;
                    if (this.ActiveType == 'Later') {
                        this.tipsTxt = this.i18ns.config.configurationModule_applyLaterApplyTip;
                    } else {
                        this.tipsTxt = this.i18ns.config.configurationModule_confirmApplyAlarm;
                    }
                },

                /**
                 * 确定应用
                 */
                ensureConfig: function () {
                    this.fullscreenLoading = true;
                    this.create.Source = [];
                    this.create.Target = [];
                    this.create.Params = [];
                    for (var i = 0; i < this.selectData.length; i++) {
                        this.create.Target.push(this.selectData[i].DeviceID);
                    }
                    this.create.Source.push(this.selectData[0].Profile.Id);
                    this.create.Params.push({
                        Key: "ActiveType",
                        Value: this.ActiveType
                    });
                    var param = {
                        ip: this.FDIp,
                        Collections: [{
                            Params: this.create.Params,
                            Source: this.create.Source,
                            Target: this.create.Target
                        }]
                    };
                    serverprofileManage.applyProfile(param, function (ret) {
                        if (ret.code == '0') {
                            app.tipsDialogisible = false;
                            window.location.href = './index.html?s=' + Math.random()
                        } else {
                            if (ret.ip != app.FDIp) {
                                return false
                            }
                            var msg = getErrorMsg(ret);
                            alertMsg(msg);
                        }
                    })
                },
                //移除已选设备
                deleteDevice: function (index, row) {
                    this.selectData.splice(index, 1);
                    this.$refs.deviceTable.toggleRowSelection(row, false);
                }
            }
        });
    </script>
</body>

</html>