<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>创建镜像</title>
    <link href="../../css/element.css" rel="stylesheet" />
    <link href="../../css/style.css" rel="stylesheet" />
    <script src="../../scripts/vue.js"></script>
    <script src="../../scripts/element.js"></script>
    <script src="../../scripts/jquery-3.2.1.min.js"></script>
    <script src="../../scripts/i18n/zh-CN.js"></script>
    <script src="../../scripts/i18n/en.js"></script>
    <script src="../i18n/en.js"></script>
    <script src="../i18n/zh-CN.js"></script>
    <script src="../../scripts/polyfill.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../../scripts/web-platform.js"></script>
    <script src="../js/errorCode.js"></script>
    <script src="../../scripts/lodash.min.js"></script>
    <script src="../../scripts/Chart.bundle.min.js"></script>
    <script src="js/rest.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }

        body {
            min-width: 900px;
        }

        .deployContent {
            padding: 20px;
        }

        .optionGroup {
            float: right;
            position: relative;
        }

        .infoTitle {
            font-size: 18px;
            font-weight: 600;
        }

        .deployinfo {
            border-collapse: collapse;
            width: 100%;
        }

        .deployinfo tr td {
            height: 30px;
            padding-left: 5px;
        }

        .dashBorder {
            width: 100%;
            height: 1px;
            border-bottom: #dddddd 1px dashed;
            margin-bottom: 25px;
            margin-top: 25px;
        }

        .el-select {
            width: 420px;
        }

        .el-input,
        .el-textarea__inner {
            width: 420px;
        }

        .el-upload-list {
            width: 420px;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <el-row v-loading.fullscreen.lock="fullscreenLoading " :element-loading-text="i18ns.common.loading">
            <div class="deployContent">
                <div>
                    <el-row>
                        <el-form label-position="left" :model="creatForm" :rules="rules" ref="creatForm"
                            label-width="250px">
                            <el-form-item label="Fusion Director ：" prop="FDIp">
                                <el-select v-model="FDIp" @change="commandClick">
                                    <el-option v-for="item in FDs" :key="item.name" :label="item.label"
                                        :value="item.name"></el-option>
                                </el-select>
                            </el-form-item>

                            <el-form-item :label="i18ns.imageManage.imageManage_imageFilleTypeColon" prop="FileType">
                                <el-select v-model="creatForm.FileType">
                                    <el-option v-for="item in FileType" :key="item" :label="item" :value="item">
                                    </el-option>
                                </el-select>
                            </el-form-item>

                            <el-form-item :label="i18ns.imageManage.imageManage_fileNameColon" prop="Name">
                                <el-input :placeholder="i18ns.OSDeploy.pleaseEnter" v-model="creatForm.Name"
                                    class="input-with-select"></el-input>
                            </el-form-item>

                            <el-form-item :label="i18ns.imageManage.imageManage_imageFileDescriptionColon"
                                prop="Description">
                                <el-input :rows="3" type="textarea" v-model="creatForm.Description"
                                    :placeholder="i18ns.OSDeploy.deploy_descriptionLimit"></el-input>
                            </el-form-item>

                            <el-form-item :label="i18ns.imageManage.imageManage_imageTypeColon" prop="OsType">
                                <el-select v-model="creatForm.OsType" @change="changeOsType">
                                    <el-option v-for="item in OsType" :key="item" :label="item" :value="item">
                                    </el-option>
                                </el-select>
                            </el-form-item>

                            <el-form-item :label="i18ns.imageManage.imageManage_imageVersionColon" prop="OsVersion">
                                <el-select v-model="creatForm.OsVersion">
                                    <el-option v-for="item in OsVersion" :key="item.Version" :label="item.Version"
                                        :value="item.Version"></el-option>
                                </el-select>
                            </el-form-item>

                            <el-form-item :label="i18ns.imageManage.imageManage_selsctImageFileColon" prop="ImagePath">
                                <el-row style="position: absolute;">
                                    <el-button size="small" type="primary" :disabled="true" v-show="fileDisabled">
                                        {{i18ns.imageManage.imageManage_pleaseUpload}}</el-button>
                                    <el-button size="small" @click="cancelUpload" v-show="fileDisabled">
                                        {{i18ns.imageManage.imageManage_cancelUpload}}</el-button>
                                </el-row>
                                <el-upload ref="upload" name="tiFile" :action="updalodUrl" :file-list="fileList"
                                    accept=".iso" :on-success="uploadSuccess" :on-error="uploadError" :multiple="false"
                                    :before-upload="beforeUpdalod" :on-remove="removeFile" :limit="1"
                                    :on-exceed="fileExceed" :on-progress="uploadProgress">
                                    <el-button size="small" type="primary" @click="fileClick" v-show="!fileDisabled">
                                        {{i18ns.imageManage.imageManage_pleaseUpload}}</el-button>
                                </el-upload>
                                <div v-if="isShowUploadTip" class="el-upload__tip">{{i18ns.imageManage.uploadTips}}<i
                                        class="el-icon-loading"></i></div>
                                <div v-if="isShowFileTip" style="color:#999">
                                    <i class="el-icon-info" style="color:rgb(230, 162, 60)"></i>
                                    {{i18ns.imageManage.imageManage_fileTips}}
                                </div>
                            </el-form-item>

                            <el-form-item :label="i18ns.imageManage.imageManage_checkOperationColon">
                                <el-radio-group v-model="isRules" @change="isRulesChange">
                                    <el-radio :label="false">{{i18ns.imageManage.imageManage_noCheck}}</el-radio>
                                    <el-radio :label="true">{{i18ns.imageManage.imageManage_toCheck}}</el-radio>
                                </el-radio-group>
                            </el-form-item>

                            <el-form-item :label="i18ns.imageManage.imageManage_checkImageTypeColon" prop="CheckType"
                                v-if="isRules">
                                <el-select v-model="creatForm.CheckType">
                                    <el-option v-for="item in CheckType" :key="item" :label="item" :value="item">
                                    </el-option>
                                </el-select>
                            </el-form-item>

                            <el-form-item :label="i18ns.imageManage.imageManage_imageFileCheckCodeColon"
                                prop="CheckCode" v-if="isRules">
                                <el-input :placeholder="i18ns.OSDeploy.pleaseEnter" v-model="creatForm.CheckCode"
                                    class="input-with-select"></el-input>
                            </el-form-item>

                        </el-form>
                    </el-row>
                </div>
            </div>
        </el-row>
        <el-row>
            <!-- 返回按钮 -->
            <el-button style="margin-top:10px;" @click="back">{{i18ns.common.cancel}}</el-button>
            <el-button style="margin-top:10px;" type="primary" @click="creatImage"
                :disabled="!this.creatForm.ImagePath">{{i18ns.common.submit}}</el-button>
        </el-row>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                i18ns: [],
                FDs: [],
                FDIp: '',
                deployId: '',
                loading: false,
                fullscreenLoading: false,
                fileList: [],
                fileDisabled: false,
                isShowUploadTip: false,
                isShowFileTip: false,
                creatForm: {
                    Name: '',
                    Description: '',
                    FileType: '',
                    OsVersion: '',
                    OsType: '',
                    ImagePath: '',
                    Owner: 'rootRedfish',
                    Size: '',
                    Unit: '',
                    CheckType: 'sha256',
                    CheckCode: undefined
                },
                isRules: false,
                rules: {
                    Description: {
                        required: false,
                        validator: function (rule, value, callback) {
                            if (value) {
                                if (getBytes(value) > 256) {
                                    return callback(new Error(app.i18ns.OSDeploy.deploy_descriptionLimit));
                                } else
                                    return callback();
                            } else {
                                return callback();
                            }
                        },
                        trigger: 'change'
                    },
                    FileType: [{
                        required: true,
                        trigger: 'blur'
                    }],
                    OsType: [{
                        required: true,
                        trigger: 'blur'
                    }],
                    OsVersion: [{
                        required: true,
                        trigger: 'blur'
                    }],
                    ImagePath: [{
                        required: true,
                        trigger: 'blur'
                    }],
                    CheckType: [{
                        required: true,
                        trigger: 'blur'
                    }],
                    CheckCode: [{
                        required: true,
                        validator: function (rule, value, callback) {
                            if (value) {
                                if (!/^[a-zA-Z0-9]{32,64}$/.test(value)) {
                                    return callback(new Error(app.i18ns.imageManage
                                        .imageManage_checkCodeError));
                                } else
                                    return callback();
                            } else {
                                return callback(new Error(app.i18ns.imageManage
                                    .imageManage_checkCodeError));
                            }
                        },
                        trigger: 'blur'
                    }],
                    Name: {
                        required: true,
                        validator: function (rule, value, callback) {
                            if (value) {
                                if (getBytes(value) > 32) {
                                    return callback(new Error(app.i18ns.common.regExp_userName));
                                } else if (!/^[a-zA-Z0-9_\-.\u4e00-\u9fa5]+$/.test(value)) {
                                    return callback(new Error(app.i18ns.common.regExp_userName));
                                } else
                                    return callback();
                            } else {
                                return callback(new Error(app.i18ns.common.regExp_userName));
                            }
                        },
                        trigger: 'change'
                    },
                },
                FileType: [],
                OsType: [],
                OsVersion: [],
                CheckType: ['sha256', 'md5']

            },
            computed: {
                updalodUrl: function () {
                    return com_huawei_fdvcenterpluginui.webContextPath + '/rest/services/fd/upload?ips=' +
                        this.FDIp + '&httpMethod=POST&endpoint=/rich/Images/Actions/Image.Import';
                }
            },
            created: function () {
                this.i18ns = getIn18();
            },
            mounted: function () {
                var that = this;
                //获取FD列表数据
                setTimeout(function () {
                    getFDList(that.bindFD);
                }, 0);
            },
            methods: {
                cancelUpload: function () {
                    this.$refs.upload.abort();
                    this.$refs.upload.uploadFiles = [];
                    this.isShowUploadTip = false;
                    this.fileDisabled = false;
                    this.isShowFileTip = false;
                    this.creatForm.ImagePath = '';
                    this.creatForm.Size = '';
                    this.creatForm.Unit = '';
                },
                uploadProgress: function (event, file, fileList) {
                    if (event.percent == 100) {
                        this.isShowUploadTip = true;
                    } else {
                        this.isShowUploadTip = false;
                        this.isShowFileTip = true;
                    }

                },
                fileClick: function (event) {
                    if (this.fileDisabled) {
                        event.stopPropagation()
                        return false;
                    }
                },
                fileExceed: function (files, fileList) {
                    console.log(files);
                },
                isRulesChange: function () {
                    if (!this.isRules) {
                        this.creatForm.CheckType = 'sha256';
                        this.creatForm.CheckCode = undefined;
                    }
                },

                beforeUpdalod: function (file) {
                    this.fileDisabled = true;
                    this.isShowFileTip = true;
                },
                removeFile: function () {
                    this.isShowUploadTip = false;
                    this.fileDisabled = false;
                    this.isShowFileTip = false;
                    this.creatForm.ImagePath = '';
                    this.creatForm.Size = '';
                    this.creatForm.Unit = '';
                },
                uploadSuccess: function (ret, file, fileList) {
                    console.log(ret, 'ret');
                    if (ret.code == '0') {
                        this.isShowUploadTip = false;
                        this.isShowFileTip = false;
                        this.creatForm.ImagePath = ret.data[0].data.FilePath;
                        this.creatForm.Size = (file.size / (1024 * 1024)).toFixed(0);
                        this.creatForm.Unit = 'MB';
                    } else {
                        this.isShowUploadTip = false;
                        this.isShowFileTip = false;
                        if (ret.ip != app.FDIp) {
                            return false
                        }
                        var msg = getErrorMsg(ret);
                        alertMsg(msg);
                    }

                },
                uploadError: function (err, file, fileList) {
                    this.fileDisabled = false;
                    this.isShowUploadTip = false;
                    this.isShowFileTip = false;
                    alertMsg(this.i18ns.common.uploadFail);
                },
                /**
                 * 获取FD数据 回调函数
                 * 
                 * @param {any} ret 
                 */
                bindFD: function (ret) {
                    if (ret.code === '0') {
                        var lg = ret.data.length;
                        if (lg > 0) {
                            for (var i = 0; i <
                                lg; i++) {
                                if (ret.data[i].aliasName) {
                                    this.FDs.push({
                                        label: ret.data[i].aliasName,
                                        name: ret.data[i].hostIp
                                    });
                                } else {
                                    this.FDs.push({
                                        label: ret.data[i].hostIp,
                                        name: ret.data[i].hostIp
                                    });
                                }
                            }
                            var currentFD = getCurrentFD();
                            if (currentFD) {
                                var _currentFD = _.find(this.FDs, {
                                    name: currentFD
                                })
                                if (_currentFD) {
                                    this.FDIp = currentFD;
                                } else {
                                    setCurrentFD(ret.data[0].hostIp);
                                    this.FDIp = ret.data[0].hostIp;
                                }
                            } else {
                                setCurrentFD(ret.data[0].hostIp);
                                this.FDIp = ret.data[0].hostIp;
                            }
                            this.loading = true;
                            this.getEnums();
                        } else {
                            alertMsg(getErrorMsg({
                                code: '-90002'
                            }));
                        }
                    } else {
                        if (ret.ip != app.FDIp) {
                            return false
                        }
                        var msg = getErrorMsg(ret);
                        alertMsg(msg);
                    }
                },

                /**
                 * FD下拉框 点击切换事件
                 * 
                 * @param {any} command 
                 * @param {any} com 
                 */
                commandClick: function () {
                    setCurrentFD(this.FDIp);
                    this.getEnums();
                },

                /**
                 *  取消按钮方法 
                 * **/
                back: function () {
                    if (this.isShowUploadTip || this.isShowFileTip) {
                        this.$confirm(app.i18ns.imageManage.imageManage_cancelFileTips, app.i18ns
                            .common.warn, {
                                confirmButtonText: app.i18ns.common.confirm,
                                cancelButtonText: app.i18ns.common.cancel,
                                closeOnClickModal: false,
                                type: 'warning'
                            }).then(function () {
                            window.location.href = '../osImage/index.html?s=' + Math.random();
                        }).catch(function () {

                        });
                    } else {
                        window.location.href = '../osImage/index.html?s=' + Math.random();
                    }

                },

                /**
                 * 获取os枚举值
                 */
                getEnums: function () {
                    var param = {
                        ip: this.FDIp
                    };
                    osImageManage.getImageEnums(param, function (ret) {
                        setTimeout(function () {
                            app.fullscreenLoading = false;
                        }, intervalTime); //延迟关闭loading
                        if (ret.code == '0') {
                            app.FileType = ret.data[0].data.Result.FileType;
                            ret.data[0].data.Result.OsType = ret.data[0].data.Result.OsType.filter(
                                function (x) {
                                    return x == 'VMware';
                                });
                            app.OsType = ret.data[0].data.Result.OsType;
                            app.creatForm.FileType = ret.data[0].data.Result.FileType[0];
                            app.creatForm.OsType = ret.data[0].data.Result.OsType[0];
                            app.getSubType();
                        } else {
                            if (ret.ip != app.FDIp) {
                                return false
                            }
                            var msg = getErrorMsg(ret);
                            alertMsg(msg);
                            /*   alertMsg(getErrorMsg({
                                  code: 'os.10006'
                              })); */
                        }
                    })
                },
                /**
                 * 获取镜像的版本号
                 */
                getSubType: function () {
                    var param = {
                        ip: this.FDIp,
                        data: {
                            OsType: this.creatForm.OsType
                        }
                    };
                    osImageManage.getSubType(param, function (ret) {
                        if (ret.code == '0') {
                            app.OsVersion = ret.data[0].data.Result.SubType;
                            app.creatForm.OsVersion = ret.data[0].data.Result.SubType[0].Version;
                        } else {
                            if (ret.ip != app.FDIp) {
                                return false
                            }
                            var msg = getErrorMsg(ret);
                            alertMsg(msg);
                            /*  alertMsg(getErrorMsg({
                                 code: 'os.10005'
                             })); */
                        }
                    })
                },

                /**
                 * 更改镜像类型
                 */
                changeOsType: function () {
                    this.getSubType();
                },

                /**
                 * 提交创建镜像
                 */
                creatImage: function () {
                    this.$refs['creatForm'].validate(function (valid) {
                        if (valid) {
                            // var data = _.assign(this.creatForm,this.$refs.deployModelInfo.deployForm);
                            var param = {
                                ip: app.FDIp,
                                data: {
                                    Name: app.creatForm.Name,
                                    Description: app.creatForm.Description,
                                    FileType: app.creatForm.FileType,
                                    OsVersion: app.creatForm.OsVersion,
                                    OsType: app.creatForm.OsType,
                                    ImagePath: app.creatForm.ImagePath,
                                    Owner: 'rootRedfish',
                                    Size: app.creatForm.Size,
                                    Unit: app.creatForm.Unit
                                }
                            };
                            if (app.isRules) {
                                _.assign(param.data, {
                                    CheckType: app.creatForm.CheckType,
                                    CheckCode: app.creatForm.CheckCode
                                })
                            }
                            app.fullscreenLoading = true;
                            osImageManage.createImage(param, function (ret) {
                                setTimeout(function () {
                                    app.fullscreenLoading = false;
                                }, intervalTime); //延迟关闭loading
                                if (ret.code == '0') {
                                    if (ret.headers && ret.headers.task && ret.headers.task
                                        .length > 0) {
                                        localStorage.setItem("osImageTaskId", ret.headers
                                            .task[
                                                0]);
                                        localStorage.setItem("osImageTaskIp", app.FDIp);
                                    }
                                    app.$alert(app.i18ns.imageManage
                                        .imageManage_createSuccess,
                                        app.i18ns.common
                                        .prompt, {
                                            confirmButtonText: app.i18ns.common.confirm,
                                            callback: function () {
                                                window.location.href =
                                                    '../osImage/index.html?s=' +
                                                    Math.random();
                                            }
                                        });

                                } else {
                                    if (ret.ip != app.FDIp) {
                                        return false
                                    }
                                    var msg = getErrorMsg(ret);
                                    alertMsg(msg);
                                    /*  alertMsg(getErrorMsg({
                                         code: 'os.10001'
                                     })); */
                                }
                            })
                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    });

                }

            }
        });
    </script>
</body>

</html>