<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>OS镜像管理</title>
    <link href="../../css/element.css" rel="stylesheet" />
    <link href="../../css/style.css" rel="stylesheet" />
    <script src="../../scripts/vue.js"></script>
    <script src="../../scripts/element.js"></script>
    <script src="../../scripts/jquery-3.2.1.min.js"></script>
    <script src="../../scripts/i18n/zh-CN.js"></script>
    <script src="../../scripts/i18n/en.js"></script>
    <script src="../i18n/en.js"></script>
    <script src="../i18n/zh-CN.js"></script>
    <script src="../../scripts/polyfill.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../../scripts/web-platform.js"></script>
    <script src="../js/errorCode.js"></script>
    <script src="../js/taskMessage.js"></script>
    <script src="../../scripts/lodash.min.js"></script>
    <script src="js/rest.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }

        body {
            min-width: 900px;
        }

        /* 部署的下拉搜索框 */
        .input-with-select {
            display: inline-block;
            position: relative;
            vertical-align: middle;
        }

        .input-with-select .el-select .el-input {
            width: 130px;
        }

        .demo-table-expand {
            font-size: 0;
        }

        .demo-table-expand label {
            width: 120px;
            color: #99a9bf;
        }

        .demo-table-expand .el-form-item {
            margin-right: 0;
            margin-bottom: 0;
            width: 50%;
        }

        .el-progress-bar {
            padding-right: 60px;
            margin-left: -20px;
        }

        .map-row {
            padding: 15px;
            background: #f6f7f8;
            margin: 15px 0;
        }

        .search-row .el-button {
            vertical-align: middle;
        }

        .search-row .el-input-group {
            vertical-align: middle;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <el-row class="map-row">
            <span style="width:200px;float: left;">{{i18ns.imageManage.imageManage_storageSpace}}</span>
            <el-col :span="13">
                <el-progress :percentage="0.39" :stroke-width="16" :show-text="false"></el-progress>
            </el-col>
            <el-col :span="3">
                <span style="display: inline-block;width: 190px;">{{imageObj.PoolUsedCap}}{{imageObj.PoolUnit}} /
                    {{imageObj.PoolMaxCap}}{{imageObj.PoolUnit}} <i style="margin-left:10px;">{{num}}%</i> </span>
            </el-col>
            <el-col style="margin-top: 20px;">
                <span style="width:180px;float: left;">{{i18ns.imageManage.imageManage_fileNumber}}</span>
                {{total}}
            </el-col>
        </el-row>
        <!-- 顶部操作栏 -->
        <el-row class="search-row">
            <el-dropdown @command="commandClick">
                <el-button>
                    {{menuName}}
                    <i class="el-icon-caret-bottom el-icon--right"></i>
                </el-button>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item v-for="item in FDs" v-bind:command="item.name" v-bind:key="item.name">
                        {{item.label}}</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
            <el-button icon="plus" v-on:click="addTemplate()" style="margin-left: 8px;">{{i18ns.common.create}}
            </el-button>
            <el-button @click="batchDelete()" :disabled="listData.length===0||multipleSelection.length===0"
                v-loading.fullscreen.lock="fullscreenLoading " :element-loading-text="i18ns.common.loading">
                {{i18ns.common.delete}}</el-button>
            <div class="input-with-select">
                <el-input :placeholder="i18ns.OSDeploy.deploy_pleaseInputKeywords" v-model.trim="keyword" clearable>
                    <el-select v-model="types" slot="prepend">
                        <el-option v-for="item in ModelTypes" :key="item.value" :label="item.label" :value="item.value">
                        </el-option>
                    </el-select>
                    <el-button slot="append" icon="el-icon-search" @click="searchOs"></el-button>
                </el-input>
            </div>
            <el-button icon="plus" v-on:click="refreshTemplate()">{{i18ns.common.refresh}}</el-button>

        </el-row>
        <div>
            <el-table v-bind:data="listData" border style="width:100%;" :empty-text="emptyText"
                :element-loading-text="i18ns.common.loading" @selection-change="handleSelectionChange"
                header-row-class-name="my_table_header">
                <el-table-column type="expand">
                    <template slot-scope="props">
                        <el-form label-position="left" inline class="demo-table-expand" :label-width="'220px'">
                            <el-form-item :label="i18ns.imageManage.imageManage_fileNameColon">
                                <span>{{ props.row.Name }}</span>
                            </el-form-item>
                            <el-form-item :label="i18ns.imageManage.imageManage_imageTypeColon">
                                <span>{{ props.row.OsType }}</span>
                            </el-form-item>
                            <el-form-item :label="i18ns.imageManage.imageManage_imageVersionColon">
                                <span>{{ props.row.OsVersion }}</span>
                            </el-form-item>
                            <el-form-item :label="i18ns.imageManage.imageManage_imageFilleTypeColon">
                                <span v-if="props.row.FileType=='Standard'">{{i18ns.OSDeploy.deploy_standard}}</span>
                                <span v-else-if="props.row.FileType=='Clone'">{{i18ns.OSDeploy.deploy_clone}}</span>
                            </el-form-item>
                            <el-form-item :label="i18ns.imageManage.imageManage_cloneDeviceTypeColon">
                                <span v-if="props.row.DeviceType==''">--</span>
                                <span v-else>{{props.row.DeviceType}}</span>
                            </el-form-item>
                            <el-form-item :label="i18ns.imageManage.imageManage_imageSizeColon">
                                <span>{{ props.row.Size }}{{props.row.Unit}}</span>
                            </el-form-item>
                            <el-form-item :label="i18ns.imageManage.imageManage_imageStatusColon">
                                <span v-if="props.row.Status=='Available'">{{i18ns.OSDeploy.deploy_available}}</span>
                                <span v-else-if="props.row.Status=='Using'">{{i18ns.OSDeploy.deploy_using}}</span>
                            </el-form-item>
                            <el-form-item :label="i18ns.OSDeploy.deploy_createTimeColon">
                                <span>{{ props.row.CreateTime }}</span>
                            </el-form-item>
                            <el-form-item :label="i18ns.OSDeploy.deploy_updateTimeColon">
                                <span>{{ props.row.ModifyTime }}</span>
                            </el-form-item>
                            <el-form-item :label="i18ns.imageManage.imageManage_imageFileOwnerColon">
                                <span>{{ props.row.Owner }}</span>
                            </el-form-item>
                            <el-form-item :label="i18ns.imageManage.imageManage_imageFileDescriptionColon">
                                <span>{{ props.row.Description }}</span>
                            </el-form-item>
                        </el-form>
                    </template>
                </el-table-column>
                <el-table-column type="selection" width="55"></el-table-column>
                <el-table-column prop="Name" :label="i18ns.imageManage.imageManage_fileName" sortable></el-table-column>
                <el-table-column prop="OsType" :label="i18ns.imageManage.imageManage_imageType"></el-table-column>
                <el-table-column prop="FileType" :label="i18ns.imageManage.imageManage_imageFilleType">
                    <template slot-scope="scope">
                        <span v-if="scope.row.FileType=='Standard'">{{i18ns.OSDeploy.deploy_standard}}</span>
                        <span v-else-if="scope.row.FileType=='Clone'">{{i18ns.OSDeploy.deploy_clone}}</span>
                    </template>
                </el-table-column>
                <el-table-column prop="Size" :label="i18ns.imageManage.imageManage_imageSize">
                    <template slot-scope="scope">
                        {{scope.row.Size}}{{scope.row.Unit}}
                    </template>
                </el-table-column>
                <el-table-column prop="Status" :label="i18ns.imageManage.imageManage_imageStatus">
                    <template slot-scope="scope">
                        <span v-if="scope.row.Status=='Available'">{{i18ns.OSDeploy.deploy_available}}</span>
                        <span v-else-if="scope.row.Status=='Using'">{{i18ns.OSDeploy.deploy_using}}</span>
                    </template>
                </el-table-column>
                <el-table-column prop="CreateTime" :label="i18ns.common.createAt" sortable></el-table-column>
                <el-table-column :label="i18ns.common.operation">
                    <template slot-scope="scope">
                        <el-button type="text" size="small" @click="deleteOne(scope.row)">{{i18ns.common.delete}}
                        </el-button>
                        <el-button type="text" size="small" @click="editOne(scope.row)"
                            :disabled="scope.row.OsType!='VMware'">{{i18ns.config.modify}}</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-row class="pagination-row">
                <el-col v-bind:span="24" style="text-align:left;">
                    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                        v-bind:current-page="currentPage" v-bind:page-sizes="pageSizes" v-bind:page-size="pageSize"
                        layout="total, sizes, prev, pager, next, jumper,slot" v-bind:total="total">
                        <el-button style="border: 1px solid #c4c4c4;margin-left: 10px;" @click="toensurePage">{{i18ns.common.confirm}}
                        </el-button>
                    </el-pagination>
                </el-col>
            </el-row>
            <el-dialog :close-on-click-modal="false" :title="i18ns.common.prompt" :visible.sync="tipsDialogisible">
                <el-row>
                    <el-alert :title="i18ns.common.confirmDelete" type="warning"
                        :description="i18ns.common.confirmDelete4" show-icon :closable="false">
                    </el-alert>
                </el-row>
                <el-table :data="deleteList" border style="width: 100%; margin-top: 10px;"
                    header-row-class-name="my_table_header">
                    <el-table-column prop="Name" :label="i18ns.imageManage.imageManage_fileName"></el-table-column>
                    <el-table-column prop="OsType" :label="i18ns.imageManage.imageManage_imageType"></el-table-column>
                    <el-table-column prop="OsVersion" :label="i18ns.imageManage.imageManage_imageVersion">
                    </el-table-column>
                    <el-table-column prop="Size" :label="i18ns.imageManage.imageManage_imageSize">
                        <template slot-scope="scope">
                            {{scope.row.Size}}{{scope.row.Unit}}
                        </template>
                    </el-table-column>
                    <el-table-column prop="Status" :label="i18ns.imageManage.imageManage_imageStatus">
                        <template slot-scope="scope">
                            <span v-if="scope.row.Status=='Available'">{{i18ns.OSDeploy.deploy_available}}</span>
                            <span v-else-if="scope.row.Status=='Using'">{{i18ns.OSDeploy.deploy_using}}</span>
                        </template>
                    </el-table-column>
                </el-table>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="tipsDialogisible=false">{{i18ns.common.cancel}}</el-button>
                    <el-button @click="deleteConfig" v-loading.fullscreen.lock="fullscreenLoading"
                        v-show="deleteList.length>0" :element-loading-text="i18ns.common.loading" type="primary">
                        {{i18ns.common.confirm}}</el-button>
                </div>
            </el-dialog>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                i18ns: [],
                FDs: [],
                FDIp: '',
                menuName: '',
                menuKey: '',
                listData: [],
                profileId: '', //配置ID
                /*显示表格数据加载中*/
                loading: false,
                /*删除操作遮罩*/
                fullscreenLoading: false,
                currentPage: 1,
                pageSizes: [10, 20, 50, 100],
                pageSize: 10,
                total: 0,
                multipleSelection: [],
                deviceListSelection: [],
                tipsDialogisible: false,
                deleteList: [], //要删除的数据
                ModelTypes: [], //搜索的关键字类型
                types: 'Name',
                keyword: '',
                search: {
                    Name: '',
                    OsType: '',
                    FileType: ''
                },
                isSearch: false,
                isFirstSearch: true,
                imageObj: {},
                num: 0,
                emptyText: ''

            },
            created: function () {
                this.i18ns = getIn18();
                this.emptyText = this.i18ns.common.loading;
                var _pageSize = localStorage.getItem("imageListPageSize");
                if (_pageSize && this.pageSizes.findIndex(function (x) {
                        return _pageSize == x
                    }) > -1) {
                    this.pageSize = parseInt(_pageSize);
                };
                this.getServerType();
            },
            mounted: function () {
                var that = this;
                //获取FD列表数据
                setTimeout(function () {
                    getFDList(that.bindFD);
                }, 0);
                //输入框键盘事件监听
                $('.is-in-pagination .el-input__inner').bind('keydown',function(event){
                    if(event.keyCode == "13") {
                        var value = parseInt(this.value);
                        that.handleCurrentChange(value);
                    }
                });
            },
            methods: {
                toensurePage:function(){
                    var value = parseInt($('.is-in-pagination .el-input__inner').val());
                    this.handleCurrentChange(value);
                },
                /**
                 * 跳转到默认添加配置页面
                 * 
                 */
                addTemplate: function () {
                    window.location.href = '../osImage/createImage.html';
                },

                /**
                 * 获取FD数据 回调函数
                 * 
                 * @param {any} ret 
                 */
                bindFD: function (ret) {
                    if (ret.code === '0') {
                        var lg = ret.data.length;
                        if (lg > 0) {
                            for (var i = 0; i <
                                lg; i++) {
                                if (ret.data[i].aliasName) {
                                    this.FDs.push({
                                        label: ret.data[i].aliasName,
                                        name: ret.data[i].hostIp
                                    });
                                } else {
                                    this.FDs.push({
                                        label: ret.data[i].hostIp,
                                        name: ret.data[i].hostIp
                                    });
                                }
                            }
                            var currentFD = getCurrentFD();
                            if (currentFD) {
                                var _currentFD = _.find(this.FDs, {
                                    name: currentFD
                                })
                                if (_currentFD) {
                                    this.FDIp = currentFD;
                                    this.menuName = _currentFD.label; /*设置选项卡下拉框默认选中项*/
                                    this.menuKey = _currentFD.name; /*设置选项卡下拉框默认选中项*/
                                } else {
                                    setCurrentFD(ret.data[0].hostIp);
                                    this.FDIp = ret.data[0].hostIp;
                                    this.menuName = this.FDs[0].label; /*设置选项卡下拉框默认选中项*/
                                    this.menuKey = this.FDs[0].name; /*设置选项卡下拉框默认选中项*/
                                }
                            } else {
                                setCurrentFD(ret.data[0].hostIp);
                                this.FDIp = ret.data[0].hostIp;
                                this.menuName = this.FDs[0].label; /*设置选项卡下拉框默认选中项*/
                                this.menuKey = this.FDs[0].name; /*设置选项卡下拉框默认选中项*/
                            }
                            this.emptyText = this.i18ns.common.loading;
                            this.getListData(); /*获取列表数据*/
                            this.getTask();
                        } else {
                            alertMsg(getErrorMsg({
                                code: '-90002'
                            }));
                        }
                    } else {
                        if (ret.ip != app.FDIp) {
                            return false
                        }
                        var msg = getErrorMsg(ret);
                        alertMsg(msg);
                    }
                },

                /**
                 * FD下拉框 点击切换事件
                 * 
                 * @param {any} command 
                 * @param {any} com 
                 */
                commandClick: function (command, com) {
                    this.menuName = com.$el.innerText;
                    this.menuKey = command;
                    this.FDIp = command;
                    setCurrentFD(command);
                    this.currentPage = 1;
                    this.pageSize = 10;
                    this.total = 0;
                    localStorage.setItem("imageListPageSize", this.pageSize);
                    this.listData = [];
                    this.getListData();
                },


                /**
                 * 设备列表全选事件
                 * 
                 * @param {any} val 
                 */
                deviceListSelectionChange: function (val) {
                    console.log(val);
                    this.deviceListSelection = val;
                },

                /**
                 * 删除一条部署
                 * 
                 * @param {object} row 
                 */
                deleteOne: function (row) {
                    if (row.deviceCount > 0) {
                        alertMsg(this.i18ns.config.delFailedMsg);
                        return;
                    }
                    this.deleteList = [];
                    this.tipsDialogisible = true;
                    this.deleteList.push(row);
                },

                /**
                 * 获取镜像列表数据
                 * 
                 */
                getListData: function () {
                    if (!this.isSearch) {
                        this.isFirstSearch = true;
                        osImageManage.getImageList({
                            ip: this.FDIp,
                            "pageNo": this.currentPage,
                            "pageSize": this.pageSize
                        }, this.bindList);
                    } else {
                        this.searchOs();
                    }
                },
                /**
                 * 获取镜像列表数据 回调函数
                 * 
                 * @param {any} ret 
                 */
                bindList: function (ret) {
                    this.emptyText = this.i18ns.common.noData;
                    if (ret.code === '0') {
                        this.imageObj = ret.data[0].data;
                        this.num = ((this.imageObj.PoolUsedCap / this.imageObj.PoolMaxCap) *
                            100).toFixed(2);
                        this.listData = ret.data[0].data.Members;
                        this.total = ret.data[0].data.ImageCount;

                    } else {
                        if (ret.ip != app.FDIp) {
                            return false
                        }
                        var msg = getErrorMsg(ret);
                        alertMsg(msg);
                        /* alertMsg(getErrorMsg({
                            code: 'os.10004'
                        })); */
                    }
                },
                getTask: function () {
                    var taskId = localStorage.getItem("osImageTaskId");
                    var ip = localStorage.getItem("osImageTaskIp");
                    if (taskId && ip) {
                        var mysetInterval = setInterval(function () {
                            osImageManage.tasks({
                                ip: ip,
                                taskId: taskId
                            }, function (res) {
                                if (res.code == 0) {
                                    if (res.data[0].data.Status == 'Finish') {
                                        localStorage.setItem("osImageTaskId", "");
                                        localStorage.setItem("osImageTaskIp", "");
                                        window.clearInterval(
                                            mysetInterval);
                                        if (app.currentPage == 1 && app.FDIp ==
                                            ip) {
                                            app.getListData();
                                        }
                                    }
                                    if (res.data[0].data.Status == 'Failed') {
                                        localStorage.setItem("osImageTaskId", "");
                                        localStorage.setItem("osImageTaskIp", "");
                                        var msg = getTaskMsg(res.data[0].data.ErrorInfo);
                                        window.clearInterval(
                                            mysetInterval);
                                    }
                                }

                            });
                        }, 1000);
                    }
                },

                /**
                 * 设置当前显示数据的总数
                 * 
                 * @param {any} val 
                 */
                handleSizeChange: function (val) {
                    if (!this.keyword) {
                        this.isSearch = false;
                    }
                    this.pageSize = val;
                    localStorage.setItem("imageListPageSize", val);
                    this.listData = [];
                    this.getListData();
                },
                /**
                 * 切换当前显示页
                 * 
                 * @param {any} val 
                 */
                handleCurrentChange: function (val) {
                    if (!this.keyword) {
                        this.isSearch = false;
                    }
                    this.currentPage = val;
                    this.listData = [];
                    this.getListData();
                },
                /**
                 * 全选事件
                 * 
                 * @param {any} val 
                 */
                handleSelectionChange: function (val) {
                    this.multipleSelection = val;
                },
                /**
                 * 批量删除事件
                 * 
                 * @returns 
                 */
                batchDelete: function () {
                    if (this.multipleSelection.length === 0) {
                        return false;
                    }
                    var obj = _.find(this.multipleSelection, function (item) {
                        return item.deviceCount > 0;
                    })
                    if (obj) {
                        alertMsg(this.i18ns.config.delFailedMsg);
                        return;
                    }
                    this.deleteList = [];
                    this.tipsDialogisible = true;
                    this.deleteList = this.multipleSelection;
                },

                /**
                 * 确认删除
                 */
                deleteConfig: function () {
                    this.fullscreenLoading = true;
                    var k = this.deleteList.length;
                    for (var i = 0; i < this.deleteList.length; i++) {
                        var param = {
                            ip: this.FDIp,
                            id: this.deleteList[i].UUID
                        };
                        osImageManage.deleteImage(param, function (ret) {
                            k--;
                            if (ret.code != '0') {
                                if (ret.ip != app.FDIp) {
                                    return false
                                }
                                var msg = getErrorMsg(ret);
                                alertMsg(msg);
                                /*  alertMsg(getErrorMsg({
                                     code: 'os.10003'
                                 })); */
                            }
                        })
                        this.fullscreenLoading = true;

                    }

                    var mysetInterval = setInterval(function () {
                        if (k == 0) {
                            setTimeout(function () {
                                app.fullscreenLoading = false;
                            }, intervalTime); //延迟关闭loading
                            app.tipsDialogisible = false;
                            app.listData = [];
                            app.currentPage = 1;
                            app.getListData();
                            window.clearInterval(mysetInterval);
                        }
                    }, 100)

                },
                /**
                 * 搜索模板类型
                 */
                getServerType: function () {
                    var lang = localStorage.getItem('lang');
                    var options = [];
                    if (lang == 'zhCN') {
                        options = [{
                            value: 'Name',
                            label: '镜像名称'
                        }, {
                            value: 'OsType',
                            label: '镜像类型'
                        }, {
                            value: 'FileType',
                            label: '文件类型'
                        }]
                    } else {
                        options = [{
                            value: 'Name',
                            label: this.i18ns.imageManage.imageManage_fileName
                        }, {
                            value: 'OsType',
                            label: this.i18ns.imageManage.imageManage_imageType
                        }, {
                            value: 'FileType',
                            label: this.i18ns.imageManage.imageManage_imageFilleType
                        }]
                    }
                    this.ModelTypes = options;
                },
                /**
                 * 搜索
                 */
                searchOs: function () {
                    if (!this.keyword) {
                        notifyError(this.i18ns.OSDeploy.deploy_enterSearchContent);
                        return;
                    }
                    this.isSearch = true;
                    this.search[this.types] = this.keyword;
                    var param = {
                        ip: this.FDIp,
                        data: this.search,
                        "pageNo": this.currentPage,
                        "pageSize": this.pageSize
                    };
                    if (this.isFirstSearch) {
                        this.currentPage = 1;
                        param.pageNo = 1;
                    }
                    this.isFirstSearch = false;
                    var app = this;
                    this.tableLoading = true;
                    this.listData = [];
                    this.total = 0;
                    osImageManage.getImageQueryList(param, function (ret) {
                        app.tableLoading = false;
                        if (ret.code == '0') {
                            app.imageObj = ret.data[0].data;
                            app.num = ((Math.ceil((app.imageObj.PoolUsedCap / app.imageObj
                                    .PoolMaxCap) *
                                10000)) / 100).toFixed(2);
                            app.listData = ret.data[0].data.Members;
                            app.total = ret.data[0].data.ImageCount;
                            app.search[app.types] = "";
                        } else {
                            app.search[app.types] = "";
                            var msg = getErrorMsg(ret);
                            // alertMsg(msg);
                        }
                    })
                },
                /**
                 * 刷新
                 */
                refreshTemplate: function (row) {
                    this.isSearch = false;
                    this.search[this.types] = "";
                    this.keyword = "";
                    this.listData = [];
                    this.getListData();
                },

                /**
                 * 跳转到修改
                 */
                editOne: function (row) {
                    window.location.href = '../osImage/editImage.html?id=' + row.UUID;
                },


            }
        });
    </script>
</body>

</html>