<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>设备版本状态</title>
    <link href="../../css/element.css" rel="stylesheet" />
    <link href="../../css/style.css" rel="stylesheet" />
    <script src="../../scripts/vue.js"></script>
    <script src="../../scripts/element.js"></script>
    <script src="../../scripts/jquery-3.2.1.min.js"></script>
    <script src="../../scripts/i18n/zh-CN.js"></script>
    <script src="../../scripts/i18n/en.js"></script>
    <script src="../i18n/en.js"></script>
    <script src="../i18n/zh-CN.js"></script>
    <script src="../../scripts/polyfill.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../../scripts/web-platform.js"></script>
    <script src="../js/errorCode.js"></script>
    <script src="../../scripts/lodash.min.js"></script>
    <script src="js/rest.js"></script>
    <script src="../upgradePlan/js/serverTable.js"></script>
    <script src="../upgradePlan/js/managerTable.js"></script>
    <script src="../upgradePlan/js/switchTable.js"></script>
    <script src="../upgradePlan/js/fanTable.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }

        body {
            min-width: 900px;
        }

        /* 部署的下拉搜索框 */
        .input-with-select {
            display: inline-block;
            position: relative;
        }

        .input-with-select .el-select .el-input {
            width: 130px;
        }

        .demo-table-expand {
            font-size: 0;
        }

        .demo-table-expand label {
            width: 120px;
            color: #99a9bf;
        }

        .demo-table-expand .el-form-item {
            margin-right: 0;
            margin-bottom: 0;
            width: 50%;
        }

        .el-progress-bar {
            padding-right: 60px;
            margin-left: -20px;
        }

        .map-row {
            padding: 15px;
            background: #f6f7f8;
            margin: 15px 0;
        }

        .search-row .el-button {
            vertical-align: middle;
        }

        .search-row .el-input-group {
            vertical-align: middle;
        }

        .desLength {
            position: absolute;
            bottom: 0px;
            left: 340px;
            color: #999;
            width: 50px;
            text-align: right;
        }

        .moudle_table_header {
            display: none;
        }

        .row-expand-cover .el-table__expand-column .el-table__expand-icon {
            display: none;
        }

        .hide-padding+tr .el-table__expanded-cell {
            padding: 0;
            padding-left: 55px;
            border: none;
        }

        .type_sucess {
            color: #5CCBB1;
        }

        .type_warn {
            color: #ffbb33;
        }

        .type_critical {
            color: #e27777;
        }

        .el-popover {
            text-align: left;
        }

        /**设备版本状态样式**/
        .com-severity-bg-ToTakeEffect {
            background-color: #C4E2A5;
        }

        .com-severity-bg-Activing {
            background-color: #94CC5C;
        }

        .com-severity-bg-PartialActiveSuccess {
            background-color: #94DCCC;
        }

        .com-severity-bg-Actived {
            background-color: #5CCBB1;
        }

        .com-severity-bg-ToUpgrade {
            background-color: #85CCFF;
        }

        .com-severity-bg-Upgrading {
            background-color: #4EAFF5;
        }

        .com-severity-bg-NoActive {
            background-color: #B5DB8E;
        }

        .com-severity-bg-ActiveFail {
            background-color: #7E82E6;
        }

        .com-severity-bg-PartialUpgradeSuccess {
            background-color: #FFBB33;
        }

        .com-severity-bg-UpgradeFail {
            background-color: #FF4C4C;
        }

        .com-severity-bg-NoUpgrade {
            background-color: #E6E6E6;
            color: #999999 !important;
        }

        .com-severity-bg-ToTakeEffect,
        .com-severity-bg-Activing,
        .com-severity-bg-PartialActiveSuccess,
        .com-severity-bg-Actived,
        .com-severity-bg-ToUpgrade,
        .com-severity-bg-Upgrading,
        .com-severity-bg-NoActive,
        .com-severity-bg-ActiveFail,
        .com-severity-bg-PartialUpgradeSuccess,
        .com-severity-bg-UpgradeFail,
        .com-severity-bg-NoUpgrade {
            display: inline-block;
            color: #ffffff;
            text-align: center;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            font-weight: bold;
            font-size: 13px;
            overflow: hidden;
            vertical-align: middle;
        }

        /**设备版本状态样式**/
        .com-required-ToTakeEffect {
            color: #C4E2A5;
        }

        .com-required-Activing {
            color: #94CC5C;
        }

        .com-required-PartialActiveSuccess {
            color: #94DCCC;
        }

        .com-required-Actived {
            color: #5CCBB1;
        }

        .com-required-ToUpgrade {
            color: #85CCFF;
        }

        .com-required-Upgrading {
            color: #4EAFF5;
        }

        .com-required-NoActive {
            color: #B5DB8E;
        }

        .com-required-ActiveFail {
            color: #7E82E6;
        }

        .com-required-PartialUpgradeSuccess {
            color: #FFBB33;
        }

        .com-required-UpgradeFail {
            color: #FF4C4C;
        }

        .com-required-NoUpgrade {
            color: #dddddd;
        }

        .com-required-ToTakeEffect,
        .com-required-Activing,
        .com-required-PartialActiveSuccess,
        .com-required-Actived,
        .com-required-ToUpgrade,
        .com-required-Upgrading,
        .com-required-NoActive,
        .com-required-ActiveFail,
        .com-required-PartialUpgradeSuccess,
        .com-required-UpgradeFail,
        .com-required-NoUpgrade {
            display: inline-block;
            margin-right: 10px;
            font-size: 12px
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <!-- 顶部操作栏 -->
        <el-row class="search-row">
            <el-dropdown @command="commandClick">
                <el-button>
                    {{menuName}}
                    <i class="el-icon-caret-bottom el-icon--right"></i>
                </el-button>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item v-for="item in FDs" v-bind:command="item.name" v-bind:key="item.name">
                        {{item.label}}</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </el-row>
        <div>
            <el-tabs v-model="activeType" @tab-click="handleClick">
                <!-- 服务器 -->
                <el-tab-pane :label="i18ns.common.server" name="first">
                    <div>
                        <el-row class="search-row">
                            <div class="input-with-select">
                                <el-input :placeholder="i18ns.deviceVersionStatus.deviceVersionStatus_SearchTip"
                                    v-model.trim="keyword" clearable @clear="searchScope">
                                    <el-select v-model="types" slot="prepend">
                                        <el-option v-for="item in ModelTypes" :key="item.id" :label="item.label"
                                            :value="item.id">
                                        </el-option>
                                    </el-select>
                                    <el-button slot="append" icon="el-icon-search" @click="searchScope"></el-button>
                                </el-input>
                            </div>
                            <el-button icon="plus" v-on:click="refreshTemplate()">{{i18ns.common.refresh}}</el-button>
                            <el-button icon="plus" v-on:click="takeAllEffect()" :disabled="checkedTake.length<=0">
                                {{i18ns.deviceVersionStatus.deviceVersionStatus_effective}}</el-button>
                        </el-row>
                        <el-table v-bind:data="listData" style="width:100%;" :empty-text="emptyText"
                            :element-loading-text="i18ns.common.loading" header-row-class-name="my_table_header"
                            @selection-change="taskSelectionChange">
                            <el-table-column type="expand">
                                <template slot-scope="props">
                                    <el-table ref="Components" :data="props.row.types" style="width: 100%;"
                                        header-row-class-name="my_table_header" :row-class-name="getClassName">
                                        <el-table-column type="expand">
                                            <template slot-scope="props">
                                                <el-table :data="props.row.Modules" style="width: 100%;"
                                                    :show-header="false">
                                                    <el-table-column prop="ModuleName"
                                                        :label="i18ns.deviceVersionStatus.deviceVersionStatus_firmwareType">
                                                    </el-table-column>
                                                    <el-table-column prop="ComponentName"
                                                        :label="i18ns.deviceVersionStatus.deviceVersionStatus_name">
                                                    </el-table-column>
                                                    <el-table-column prop="Status"
                                                        :label="i18ns.deviceVersionStatus.deviceVersionStatus_status">
                                                        <template slot-scope="scope">
                                                            <span v-if="scope.row.Status!='NoUpgrade'">
                                                                <i :class="getStatusClass(scope.row.Status)"></i>
                                                            </span>
                                                            {{scope.row.Status=='NoUpgrade'?"":getStatusName(scope.row.Status)}}
                                                        </template>
                                                    </el-table-column>
                                                    <el-table-column prop="InstalledVersion"
                                                        :show-overflow-tooltip="true"
                                                        :label="i18ns.deviceVersionStatus.deviceVersionStatus_currentVersion">
                                                    </el-table-column>
                                                    <el-table-column prop="AvailableVersion"
                                                        :label="i18ns.deviceVersionStatus.deviceVersionStatus_targetVersion">
                                                    </el-table-column>
                                                    <el-table-column prop="InstalledVersionDriver"
                                                        :label="i18ns.deviceVersionStatus.deviceVersionStatus_currentDriverVersion">
                                                    </el-table-column>
                                                    <el-table-column prop="AvailableVersionDriver"
                                                        :label="i18ns.deviceVersionStatus.deviceVersionStatus_targetDriverVersion">
                                                    </el-table-column>
                                                </el-table>
                                            </template>
                                        </el-table-column>
                                        <el-table-column
                                            :label="i18ns.deviceVersionStatus.deviceVersionStatus_firmwareType">
                                            <template slot-scope="scope">
                                                {{scope.row.type}}
                                            </template>
                                        </el-table-column>
                                        <el-table-column :label="i18ns.deviceVersionStatus.deviceVersionStatus_name">
                                            <template slot-scope="scope">
                                                {{scope.row.Modules.length>1?"":scope.row.Modules[0].ComponentName}}
                                            </template>
                                        </el-table-column>
                                        <el-table-column prop="Status"
                                            :label="i18ns.deviceVersionStatus.deviceVersionStatus_status">
                                            <template slot-scope="scope">
                                                <span
                                                    v-if="scope.row.Modules.length<=1&&scope.row.Modules[0].Status!='NoUpgrade'">
                                                    <i :class="getStatusClass(scope.row.Modules[0].Status)"></i>
                                                </span>
                                                {{scope.row.Modules.length>1?"":scope.row.Modules[0].Status=="NoUpgrade"?"":getStatusName(scope.row.Modules[0].Status)}}
                                            </template>
                                        </el-table-column>
                                        <el-table-column :show-overflow-tooltip="true"
                                            :label="i18ns.deviceVersionStatus.deviceVersionStatus_currentVersion">
                                            <template slot-scope="scope">
                                                {{scope.row.Modules.length>1?"":scope.row.Modules[0].InstalledVersion}}
                                            </template>
                                        </el-table-column>
                                        <el-table-column
                                            :label="i18ns.deviceVersionStatus.deviceVersionStatus_targetVersion">
                                            <template slot-scope="scope">
                                                {{scope.row.Modules.length>1?"":scope.row.Modules[0].AvailableVersion}}
                                            </template>
                                        </el-table-column>
                                        <el-table-column
                                            :label="i18ns.deviceVersionStatus.deviceVersionStatus_currentDriverVersion">
                                            <template slot-scope="scope">
                                                {{scope.row.Modules.length>1?"":scope.row.Modules[0].InstalledVersionDriver}}
                                            </template>
                                        </el-table-column>
                                        <el-table-column
                                            :label="i18ns.deviceVersionStatus.deviceVersionStatus_targetDriverVersion">
                                            <template slot-scope="scope">
                                                {{scope.row.Modules.length>1?"":scope.row.Modules[0].AvailableVersionDriver}}
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                </template>
                            </el-table-column>
                            <el-table-column type="selection" width="55" :selectable='checkboxT'></el-table-column>
                            <el-table-column prop="BMCIP" :label="i18ns.deviceVersionStatus.deviceVersionStatus_BMCIP"
                                sortable></el-table-column>
                            <el-table-column prop="HealthStatus" :show-overflow-tooltip="true"
                                :label="i18ns.deviceVersionStatus.deviceVersionStatus_healthStatus" sortable>
                                <template slot-scope="scope">
                                    <span
                                        :class="typeClass(scope.row.HealthStatus)">{{getHealthStatusName(scope.row.HealthStatus)}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column prop="ProductType"
                                :label="i18ns.deviceVersionStatus.deviceVersionStatus_productType" sortable>
                            </el-table-column>
                            <el-table-column prop="OSVersion" :show-overflow-tooltip="true"
                                :label="i18ns.deviceVersionStatus.deviceVersionStatus_OSVersion" width="240" sortable>
                                <template slot-scope="scope">
                                    <span v-if="scope.row.OSVersion!=''">{{scope.row.OSVersion}}</span>
                                    <span v-else>
                                        {{i18ns.deviceVersionStatus.deviceVersionStatus_UnableToObtain}}
                                        <el-popover placement="right-end" width="150" trigger="hover"
                                            :content="i18ns.deviceVersionStatus.deviceVersionStatus_UnableToObtainTip">
                                            <i slot="reference" class="el-icon-info"
                                                style="color:#ff4c4c;font-style:normal;"></i>
                                        </el-popover>
                                    </span>
                                </template>
                            </el-table-column>
                            <el-table-column prop="SerialNumber" :show-overflow-tooltip="true"
                                :label="i18ns.deviceVersionStatus.deviceVersionStatus_serialNumber" sortable>
                            </el-table-column>
                            <el-table-column prop="PlanName"
                                :label="i18ns.deviceVersionStatus.deviceVersionStatus_plan"></el-table-column>
                            <el-table-column prop="Status" :label="i18ns.deviceVersionStatus.deviceVersionStatus_status"
                                sortable>
                                <template slot-scope="scope">
                                    <i :class="getStatusClass(scope.row.Status)"></i>
                                    {{getStatusName(scope.row.Status)}}
                                </template>
                            </el-table-column>
                            <el-table-column :label="i18ns.common.operation">
                                <template slot-scope="scope">
                                    <el-button type="text" size="small"
                                        :disabled="scope.row.Status!='NoActive'&&scope.row.Status!='PartialUpgradeSuccess'"
                                        @click="takeEffect(scope.row)">
                                        {{i18ns.deviceVersionStatus.deviceVersionStatus_effective}}</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <el-row class="pagination-row">
                            <el-col v-bind:span="24" style="text-align:right;" v-if="total<pageSize">
                                {{i18ns.common.common_totalNumber}}{{listData.length}}
                            </el-col>
                            <el-col v-bind:span="24" style="text-align:left;" v-else>
                                <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                                    v-bind:current-page="currentPage" v-bind:page-sizes="pageSizes"
                                    v-bind:page-size="pageSize" layout="total, sizes, prev, pager, next, jumper,slot"
                                    v-bind:total="total">
                                    <el-button style="border: 1px solid #c4c4c4;margin-left: 10px;" @click="toensurePage">
                                        {{i18ns.common.confirm}}</el-button>
                                </el-pagination>
                            </el-col>
                        </el-row>
                    </div>

                </el-tab-pane>
                <!-- 机框 -->
                <el-tab-pane :label="i18ns.deviceVersionStatus.deviceVersionStatus_Chassis" name="second">
                    <el-table v-bind:data="firmwareData" style="width:100%;" :empty-text="emptyText" header-row-class-name="my_table_header" @expand-change="expandEnsure">
                        <el-table-column type="expand">
                            <template slot-scope="props"> 
                                <el-tabs v-model="props.row.activeDetail" type="card" @tab-click="handleDetailClick">
                                    <el-tab-pane :label="i18ns.common.server" name="Server">
                                        <server-table ref="serverData" :f-d-ip="FDIp" :is-check="isCheckDetail" :server-data="props.row.serverData" ></server-table>
                                    </el-tab-pane>
                                    <el-tab-pane :label="i18ns.deviceVersionStatus.deviceVersionStatus_management" name="Manager">
                                        <manager-table ref="managerData" :f-d-ip="FDIp" :is-check="isCheckDetail" :manager-data="props.row.managerData"></manager-table>
                                    </el-tab-pane>
                                    <el-tab-pane :label="i18ns.deviceVersionStatus.deviceVersionStatus_switch" name="Switch">
                                        <switch-table ref="switchData" :f-d-ip="FDIp" :is-check="isCheckDetail" :switch-data="props.row.switchData"></switch-table>
                                    </el-tab-pane>
                                    <el-tab-pane :label="i18ns.deviceVersionStatus.deviceVersionStatus_fanOrOther" name="Fan">
                                        <fan-table ref="fanData" :f-d-ip="FDIp" :is-check="isCheckDetail" :fan-data="props.row.fanData"></fan-table>
                                    </el-tab-pane>
                                </el-tabs>
                            </template>
                        </el-table-column>
                        <el-table-column type="selection" width="55" ></el-table-column>
                        <el-table-column prop="Name" :label="i18ns.deviceVersionStatus.deviceVersionStatus_ChassisName"></el-table-column>
                        <el-table-column prop="HostName" :label="i18ns.deviceVersionStatus.deviceVersionStatus_EMIP"></el-table-column>
                        <el-table-column prop="ProductType" :label="i18ns.deviceVersionStatus.deviceVersionStatus_productType"></el-table-column>
                        <el-table-column prop="PlanName" :label="i18ns.deviceVersionStatus.deviceVersionStatus_plan"></el-table-column>
                    </el-table>
                    <el-row class="pagination-row" v-if="firmwareData.length>0">
                        <el-col v-bind:span="24" style="text-align:right;" v-if="firmtotal<pageSize">
                            {{i18ns.common.common_totalNumber}}{{firmwareData.length}}
                        </el-col>
                        <el-col v-bind:span="24" style="text-align:left;" v-else>
                            <el-pagination @size-change="handleFirmSizeChange" @current-change="handleFirmCurrentChange"
                                v-bind:current-page="firmcurrentPage" v-bind:page-sizes="firmpageSizes"
                                v-bind:page-size="firmpageSize" layout="total, sizes, prev, pager, next, jumper,slot"
                                v-bind:total="firmtotal">
                                <el-button style="border: 1px solid #c4c4c4;margin-left: 10px;">
                                    {{i18ns.common.confirm}}</el-button>
                            </el-pagination>
                        </el-col>
                    </el-row>
                </el-tab-pane>
            </el-tabs>
        </div>
        <!-- 生效弹窗 -->
        <el-dialog :close-on-click-modal="false" :title="i18ns.common.warn" :visible.sync="takeDialogisible"
            width="60%">
            <el-row>
                <el-alert :title="i18ns.deviceVersionStatus.deviceVersionStatus_autoDiscoveryDeleteTip" type="info"
                    :description="i18ns.deviceVersionStatus.deviceVersionStatus_autoDiscoveryDeleteMsg" show-icon
                    :closable="false">
                </el-alert>
            </el-row>
            <el-table :data="takeEffectList" border style="width: 100%; margin-top: 10px;"
                header-row-class-name="my_table_header">
                <el-table-column prop="BMCIP" :label="i18ns.deviceVersionStatus.deviceVersionStatus_BMCIP">
                </el-table-column>
                <el-table-column prop="SerialNumber" :show-overflow-tooltip="true"
                    :label="i18ns.deviceVersionStatus.deviceVersionStatus_serialNumber"></el-table-column>
                <el-table-column prop="Status" :label="i18ns.deviceVersionStatus.deviceVersionStatus_status" sortable>
                    <template slot-scope="scope">
                        <i :class="getStatusClass(scope.row.Status)"></i>
                        {{getStatusName(scope.row.Status)}}
                    </template>
                </el-table-column>
                <el-table-column prop="PlanName" :label="i18ns.deviceVersionStatus.deviceVersionStatus_plan" sortable>
                </el-table-column>
            </el-table>
            <div slot="footer" class="dialog-footer">
                <el-button @click="takeDialogisible=false">{{i18ns.common.no}}</el-button>
                <el-button @click="takeSubmit" v-loading.fullscreen.lock="fullscreenLoading"
                    :element-loading-text="i18ns.common.loading" type="primary">{{i18ns.common.yes}}</el-button>
            </div>
        </el-dialog>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                i18ns: [],
                FDs: [],
                FDIp: '',
                menuName: '',
                menuKey: '',
                listData: [],
                profileId: '', //配置ID
                /*显示表格数据加载中*/
                loading: false,
                /*删除操作遮罩*/
                fullscreenLoading: false,
                currentPage: 1,
                pageSizes: [10, 20, 50, 100],
                pageSize: 10,
                total: 0,
                multipleSelection: [],

                deviceListSelection: [],
                tipsDialogisible: false,

                deleteList: [], //要删除的数据
                keyword: '',
                activeType: 'first',
                //生效弹窗
                takeDialogisible: false,
                takeEffectList: [],
                checkedTake: [],

                ModelTypes: [], //筛选条件
                types: 'BMCIP',
                emptyText: '',
                //机框
                firmwareData:[],
                firmcurrentPage: 1,
                firmpageSizes: [10, 20, 50, 100],
                firmpageSize: 10,
                firmtotal: 0,

                //精准升级
                serverData:[],
                managerData:[],
                switchData:[],
                fanData:[],
                activeDetail:'Server',
                isCheckDetail:false,

            },
            created: function () {
                this.i18ns = getIn18();
                this.emptyText = this.i18ns.common.loading;
                var _pageSize = localStorage.getItem("baselineListPageSize");
                if (_pageSize) {
                    this.pageSize = parseInt(_pageSize);
                };
            },
            mounted: function () {
                var that = this;
                //获取FD列表数据
                setTimeout(function () {
                    getFDList(that.bindFD);
                }, 0);
                //输入框键盘事件监听
                $('.is-in-pagination .el-input__inner').bind('keydown',function(event){
                    if(event.keyCode == "13") {
                        var value = parseInt(this.value);
                        that.handleCurrentChange(value);
                    }
                });
            },
            methods: {
                toensurePage:function(){
                    var value = parseInt($('.is-in-pagination .el-input__inner').val());
                    this.handleCurrentChange(value);
                },
                /**
                 * 搜索类型
                 */
                getServerType: function () {
                    var options = [{
                            id: 'BMCIP',
                            label: this.i18ns.deviceVersionStatus.deviceVersionStatus_BMCIP
                        },
                        {
                            id: 'Model',
                            label: this.i18ns.deviceVersionStatus.deviceVersionStatus_Select_productType
                        },
                        {
                            id: 'OSVersion',
                            label: this.i18ns.deviceVersionStatus.deviceVersionStatus_Select_OSVersion
                        },
                        {
                            id: 'SN',
                            label: this.i18ns.deviceVersionStatus.deviceVersionStatus_serialNumber
                        }
                    ]
                    this.ModelTypes = options;
                },
                /**
                 * 国际化状态
                 */
                getStatusName: function (status) {
                    switch (status) {
                        case 'ToBeUpgraded':
                            return this.i18ns.deviceVersionStatus.deviceVersionStatus_toBeUpgraded;
                        case 'ToTakeEffect':
                            return this.i18ns.deviceVersionStatus.deviceVersionStatus_toTakeEffect;
                        case 'TakingEffect':
                            return this.i18ns.deviceVersionStatus.deviceVersionStatus_takingEffect;
                        case 'Effective':
                            return this.i18ns.deviceVersionStatus.deviceVersionStatus_effectived;
                        case 'Upgrading':
                            return this.i18ns.deviceVersionStatus.deviceVersionStatus_Upgrading;
                            //新加状态
                        case 'NoUpgrade':
                            return this.i18ns.deviceVersionStatus.deviceVersionStatus_NoUpgrade;
                        case 'ToUpgrade':
                            return this.i18ns.deviceVersionStatus.deviceVersionStatus_ToUpgrade;
                        case 'UpgradeFail':
                            return this.i18ns.deviceVersionStatus.deviceVersionStatus_UpgradeFail;
                        case 'PartialUpgradeSuccess':
                            return this.i18ns.deviceVersionStatus.deviceVersionStatus_PartialUpgradeSuccess;
                        case 'NoActive':
                            return this.i18ns.deviceVersionStatus.deviceVersionStatus_toTakeEffect;
                        case 'Activing':
                            return this.i18ns.deviceVersionStatus.deviceVersionStatus_Activing;
                        case 'ActiveFail':
                            return this.i18ns.deviceVersionStatus.deviceVersionStatus_ActiveFail;
                        case 'Actived':
                            return this.i18ns.deviceVersionStatus.deviceVersionStatus_Actived;
                        case 'PartialActiveSuccess':
                            return this.i18ns.deviceVersionStatus.deviceVersionStatus_PartialActiveSuccess;
                        case '':
                            return ' ';
                        case undefined:
                            return ' ';
                        default:
                            return '';
                    }
                },
                //获取状态的颜色
                getStatusClass: function (status) {
                    switch (status) {
                        case 'ToBeUpgraded':
                            return 'com-severity-bg-ToUpgrade';
                        case 'ToUpgrade':
                            return ' com-severity-bg-ToUpgrade ';
                        case 'ToTakeEffect':
                            return ' com-severity-bg-ToTakeEffect ';
                        case 'TakingEffect':
                            return ' com-severity-bg-Activing ';
                        case 'Effective':
                            return ' com-severity-bg-Actived ';
                        case 'Upgrading':
                            return ' com-severity-bg-Upgrading ';
                            //新加状态样式
                        case 'NoUpgrade':
                            return ' com-severity-bg-NoUpgrade ';
                        case 'UpgradeFail':
                            return ' com-severity-bg-UpgradeFail ';
                        case 'PartialUpgradeSuccess':
                            return ' com-severity-bg-PartialUpgradeSuccess ';
                        case 'NoActive':
                            return ' com-severity-bg-NoActive ';
                        case 'Activing':
                            return ' com-severity-bg-Activing ';
                        case 'ActiveFail':
                            return ' com-severity-bg-ActiveFail ';
                        case 'Actived':
                            return ' com-severity-bg-Actived ';
                        case 'PartialActiveSuccess':
                            return ' com-severity-bg-PartialActiveSuccess ';
                        case '':
                            return ' ';
                        case undefined:
                            return ' ';
                        default:
                            return ' ';
                    }
                },
                /**
                 * 健康状态
                 * 
                 */
                getHealthStatusName: function (health) {
                    switch (health) {
                        case "OK":
                            return this.i18ns.deviceVersionStatus.deviceVersionStatus_OK;
                            break;
                        case "Warning":
                            return this.i18ns.deviceVersionStatus.deviceVersionStatus_Warning;
                            break;
                        case "Critical":
                            return this.i18ns.deviceVersionStatus.deviceVersionStatus_Critical;
                            break;
                        default:
                            return this.i18ns.deviceVersionStatus.deviceVersionStatus_unknown;
                    }
                },
                typeClass: function (type) {
                    switch (type) {
                        case "OK":
                            return 'type_sucess';
                            break;
                        case "Warning":
                            return 'type_warn';
                            break;
                        case "Critical":
                            return 'type_critical';
                            break;
                        default:
                            return '';
                    }
                },
                /**
                 * 获取FD数据 回调函数
                 * 
                 * @param {any} ret 
                 */
                bindFD: function (ret) {
                    if (ret.code === '0') {
                        var lg = ret.data.length;
                        if (lg > 0) {
                            for (var i = 0; i <
                                lg; i++) {
                                if (ret.data[i].aliasName) {
                                    this.FDs.push({
                                        label: ret.data[i].aliasName,
                                        name: ret.data[i].hostIp
                                    });
                                } else {
                                    this.FDs.push({
                                        label: ret.data[i].hostIp,
                                        name: ret.data[i].hostIp
                                    });
                                }
                            }
                            var currentFD = getCurrentFD();
                            if (currentFD) {
                                var _currentFD = _.find(this.FDs, {
                                    name: currentFD
                                })
                                if (_currentFD) {
                                    this.FDIp = currentFD;
                                    this.menuName = _currentFD.label; /*设置选项卡下拉框默认选中项*/
                                    this.menuKey = _currentFD.name; /*设置选项卡下拉框默认选中项*/
                                } else {
                                    setCurrentFD(ret.data[0].hostIp);
                                    this.FDIp = ret.data[0].hostIp;
                                    this.menuName = this.FDs[0].label; /*设置选项卡下拉框默认选中项*/
                                    this.menuKey = this.FDs[0].name; /*设置选项卡下拉框默认选中项*/
                                }
                            } else {
                                setCurrentFD(ret.data[0].hostIp);
                                this.FDIp = ret.data[0].hostIp;
                                this.menuName = this.FDs[0].label; /*设置选项卡下拉框默认选中项*/
                                this.menuKey = this.FDs[0].name; /*设置选项卡下拉框默认选中项*/
                            }
                            this.loading = true;
                            this.getListData(); /*获取列表数据*/
                            this.getServerType()
                        } else {
                            alertMsg(getErrorMsg({
                                code: '-90002'
                            }))
                        }
                    } else {
                        if (ret.ip != app.FDIp) {
                            return false
                        }
                        var msg = getErrorMsg(ret);
                        alertMsg(msg);
                    }
                },

                /**
                 * FD下拉框 点击切换事件
                 * 
                 * @param {any} command 
                 * @param {any} com 
                 */
                commandClick: function (command, com) {
                    this.menuName = com.$el.innerText;
                    this.menuKey = command;
                    this.FDIp = command;
                    setCurrentFD(command);
                    this.currentPage = 1;
                    this.pageSize = 10;
                    this.total = 0;
                    this.firmcurrentPage = 1;
                    this.firmpageSize = 10;
                    this.firmtotal = 0;
                    this.handleClick()
                },

                /**
                 * 切换 服务器 机框
                 */
                handleClick: function () {
                    if (this.activeType == "first") {
                        this.getListData()
                    } else {
                        this.getEnclosureDevicesData();
                    }
                },

                /**
                 * 搜索服务器列表
                 */
                searchScope: function () {
                    this.getListData();
                },
                /**
                 * 获取服务器的列表
                 */
                getListData: function () {
                    this.listData = [];
                    var queryParam = {
                        ip: this.FDIp,
                        "pageNo": this.currentPage,
                        "pageSize": this.pageSize,
                        orderby: 'BMCIP asc'
                    }
                    if (this.keyword) {
                        queryParam.filter = this.types + " eq " + "'" + this.keyword + "'"
                    }
                    this.emptyText = this.i18ns.common.loading;
                    upgradePackageManage.getScopesList(queryParam, this.bindList);
                },
                /**
                 * 获取服务器列表数据 回调函数
                 * 
                 * @param {any} ret 
                 */
                bindList: function (ret) {
                    this.emptyText = this.i18ns.common.noData;
                    if (ret.code === '0') {
                        var listData = ret.data[0].data.Devices ? ret.data[0].data.Devices : [];
                        for (var index = 0; index < listData.length; index++) {
                            this.expandChange(listData[index]);
                        }
                        this.listData = listData;
                        this.total = ret.data[0].data['Devices@odata.count']
                    } else {
                        if (ret.ip != app.FDIp) {
                            return false
                        }
                        var msg = getErrorMsg(ret);
                        alertMsg(msg);
                    }
                },
                /**
                 * 展开行
                 */
                expandChange: function (row) {
                    var componentGroups = _.groupBy(row.Components, function (component) {
                        return component.ComponentType;
                    });
                    var componentTypes = _.keys(componentGroups);
                    var types = [];
                    for (var index = 0; index < componentTypes.length; index++) {
                        var obj = {
                            type: componentTypes[index],
                            Modules: componentGroups[componentTypes[index]]
                        }
                        types.push(obj)
                    }
                    row.types = types;
                },
                /**
                 * 刷新服务器列表
                 */
                refreshTemplate: function () {
                    this.emptyText = this.i18ns.common.loading;
                    this.getListData()
                },
                /**
                 * 禁用服务器的复选框
                 */
                checkboxT: function (row, index) {
                    if (row.Status !== 'NoActive' && row.Status !== 'PartialUpgradeSuccess') {
                        return false;
                    } else {
                        return true;
                    }
                },
                /**
                 * 隐藏展开图标
                 */
                getClassName: function (row, expandedRows) {
                    var res = [];
                    if (row.row.Modules && row.row.Modules.length == 1) {
                        res.push('row-expand-cover')
                    } else {
                        res.push('hide-padding')
                    }
                    return res.join(' ')
                },

                /**
                 * 服务器的全选
                 */
                taskSelectionChange: function (val) {
                    this.checkedTake = val;
                },
                /**
                 * 单个生效
                 */
                takeEffect: function (row) {
                    this.takeEffectList = []
                    this.takeDialogisible = true;
                    this.takeEffectList = [row];
                },
                /**
                 * 多个生效
                 */
                takeAllEffect: function (row) {
                    this.takeEffectList = []
                    this.takeDialogisible = true;
                    this.takeEffectList = this.checkedTake;
                },
                /**
                 * 确认生效
                 */
                takeSubmit: function () {
                    var param = {
                        Devices: []
                    }
                    for (var i = 0; i < _.size(this.takeEffectList); i++) {
                        param.Devices.push(this.takeEffectList[i].ID)
                    }
                    upgradePackageManage.ActiveFireware({
                        ip: app.FDIp,
                        data: param
                    }, function (res) {
                        if (res.code == 0) {
                            app.getListData();
                            _.each(res.data[0].data.TaskIDs, function (item) {
                                app.task(item);
                            })
                            app.takeDialogisible = false;
                        } else {
                            if (res.ip != app.FDIp) {
                                return false
                            }
                            var msg = getErrorMsg(res);
                            alertMsg(msg);
                        }
                    });
                },
                /**
                 * 任务
                 */
                task: function (taskId) {
                    var mysetInterval = setInterval(function () {
                        upgradePackageManage.getMasterTaskInfo({
                            ip: app.FDIp,
                            id: taskId
                        }, function (res) {
                            if (res.code == 0) {
                                if (res.data[0].data.Status == 'Finish') {
                                    window.clearInterval(mysetInterval);
                                    this.getListData()
                                }
                            }
                            if (res.data[0].data.Status == 'Failed') {
                                window.clearInterval(mysetInterval);
                            }
                        });
                    }, 1000);
                },
                /**
                 * 设置当前显示数据的总数
                 * 
                 * @param {any} val 
                 */
                handleSizeChange: function (val) {
                    this.currentPage = 1;
                    this.pageSize = val;
                    this.getListData();
                },
                /**
                 * 切换当前显示页
                 * 
                 * @param {any} val 
                 */
                handleCurrentChange: function (val) {
                    this.currentPage = val;
                    this.getListData();
                },


                /**
                 * 获取机框
                 */
                getEnclosureDevicesData: function () {
                    this.firmwareData = [];
                    this.emptyText = this.i18ns.common.loading;
                    upgradePackageManage.getEnclosureDevices({
                        ip: app.FDIp
                    }, function (ret) {
                        app.emptyText = app.i18ns.common.noData;
                        if (ret.code == 0) {
                            var obj = ret.data[0].data.EnclosureFirmwareInfo?ret.data[0].data.EnclosureFirmwareInfo:[];
                            app.firmwareData = obj;
                            app.firmtotal = obj.length;
                        } else {
                            if (ret.ip != app.FDIp) {
                                return false
                            }
                            var msg = getErrorMsg(ret);
                            alertMsg(msg);
                        }
                    });
                },
                /**
                 * 刷新机框
                 */
                refreshEnclosureDevices: function () {
                    this.getEnclosureDevicesData()
                },
                /**
                 * 选择机框
                 */
                uploadSelectionChange: function () {

                },
                /**
                 * 改变机框的当前显示数据的总数
                 */
                 handleFirmSizeChange:function(val){
                    this.firmcurrentPage = 1;
                    this.firmpageSize = val;
                 },
                 /**
                 * 切换机框当前显示页
                 * 
                 * @param {any} val 
                 */
                handleFirmCurrentChange: function (val) {
                    this.firmcurrentPage = val;
                },
                /**
                 * 展开机框的行
                 */
                 expandEnsure:function(row,expandedRows){
                    row.activeDetail = "Server";
                    if(row.Devices&&row.Devices.length>0){
                        row.serverData=_.filter(row.Devices,function(item){
                            return item.DeviceType == 'Server'
                        });
                        row.managerData = _.filter(row.Devices,function(item){
                            return item.DeviceType == 'Manager'
                        });
                        row.switchData = _.filter(row.Devices,function(item){
                            return item.DeviceType == 'Switch'
                        });
                        row.fanData = _.filter(row.Devices,function(item){
                            return item.DeviceType != 'Server'&&item.DeviceType != 'Manager'&&item.DeviceType != 'Switch'
                        });
                    }
                 },
                 handleDetailClick:function(row){
                    var ref='';
                    if(row.name=='Server'){
                        ref= 'serverData'
                        app.$refs['managerData'].hideFirmwares()
                        app.$refs['switchData'].hideFirmwares()
                        app.$refs['fanData'].hideFirmwares()
                    }else if(row.name=='Manager'){
                        ref= 'managerData'
                        app.$refs['serverData'].hideFirmwares()
                        app.$refs['switchData'].hideFirmwares()
                        app.$refs['fanData'].hideFirmwares()
                    }else if(row.name=='Switch'){
                        ref= 'switchData'
                        app.$refs['managerData'].hideFirmwares()
                        app.$refs['serverData'].hideFirmwares()
                        app.$refs['fanData'].hideFirmwares()
                    }else if(row.name=='Fan'){
                        ref= 'fanData'
                        app.$refs['managerData'].hideFirmwares()
                        app.$refs['switchData'].hideFirmwares()
                        app.$refs['serverData'].hideFirmwares()
                    }
                    app.$refs[ref].handleClick()
                 }


            }
        });
    </script>
</body>

</html>