<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../../css/element.css" rel="stylesheet" />
    <link href="../../css/style.css" rel="stylesheet" />
    <script src="../../scripts/vue.js"></script>
    <script src="../../scripts/element.js"></script>
    <script src="../../scripts/jquery-3.2.1.min.js"></script>
    <script src="../../scripts/i18n/zh-CN.js"></script>
    <script src="../../scripts/i18n/en.js"></script>
    <script src="../i18n/en.js"></script>
    <script src="../i18n/zh-CN.js"></script>
    <script src="../../scripts/polyfill.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../../scripts/web-platform.js"></script>
    <script src="../js/errorCode.js"></script>
    <script src="../../scripts/lodash.min.js"></script>
    <script src="js/rest.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }

        body {
            min-width: 900px;
        }

        form input {
            max-width: 350px;
        }

        .el-card__header {
            padding: 7px 15px;
            border-bottom: 1px solid #d1dbe5;
            box-sizing: border-box;
            background-color: #e5e9f2;
            font-size: 14px;
        }

        .el-card__body {
            padding-bottom: 0;
        }

        .el-card {
            border: 0;
            box-shadow: 0 0 0 0 !important;
        }
        .el-icon-info{
            margin-left: 20px;
            color: #409eff;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <el-row>
            <h3>{{i18ns.setting.pageTips}}</h3>
        </el-row>
        <el-form v-bind:model="ruleForm" v-bind:rules="rules" ref="ruleForm" label-width="180px" label-position="left"
            label-suffix=":">
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    {{i18ns.setting.basicSetting}}
                </div>
                <el-row>

                    <el-form-item v-bind:label="i18ns.setting.hostIp" prop="hostIp">
                        <el-select v-model="ruleForm.hostIp" style="width:180px;">
                            <el-option v-for="item in ips" :key="item.value" :label="item.label" :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item v-bind:label="i18ns.setting.port" prop="hostPort">
                        <div>
                            <el-input v-model="ruleForm.hostPort" auto-complete="off" style="width:180px;"></el-input>
                            <el-tooltip :content="i18ns.setting.portTips" placement="right" effect="light">
                                <i class="el-icon-info"></i>
                            </el-tooltip>
                        </div>
                    </el-form-item>
                    <el-form-item v-bind:label="i18ns.setting.userName" prop="username">
                        <div>
                            <el-input v-model="ruleForm.username" auto-complete="off"></el-input>
                        </div>
                    </el-form-item>
                    <el-form-item v-bind:label="i18ns.setting.password" prop="password">
                        <div>
                            <el-input type="password" v-model="ruleForm.password" auto-complete="off"></el-input>
                        </div>
                    </el-form-item>
                </el-row>
            </el-card>
        </el-form>
        <el-row style="color: #67c23a; margin: 10px 0 10px 20px;">
            {{i18ns.setting.vCenterTips}}
        </el-row>
        <el-row>
            <el-button style="margin-top:10px;" type="primary" @click="save" v-loading.fullscreen.lock="fullscreenLoading "
                :element-loading-text="i18ns.common.loading">{{i18ns.common.submit}}</el-button>
        </el-row>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                i18ns: [],
                fullscreenLoading: false,
                ips: [],
                ruleForm: {
                    hostIp: '',
                    hostPort: '',
                    username: '',
                    password: ''
                },
                rules: {
                    hostIp: {
                        required: true,
                        validator: function (rule, value, callback) {
                            if (value) {
                                if (!
                                    /^(22[0-3]|2[0-1]\d|1[0-1][0-9]|12[012345689]|1[3-9]\d|[1-9]\d|[1-9])\.(25[0-5]|2[0-4]\d|1\d{2}|[1-9]\d|\d)\.(25[0-5]|2[0-4]\d|1\d{2}|[1-9]\d|\d)\.(25[0-5]|2[0-4]\d|1\d{2}|[1-9]\d|[1-9])$/
                                    .test(value)) {
                                    return callback(new Error(app.i18ns.setting.hostIPError));
                                } else
                                    return callback();
                            } else {
                                return callback(new Error(app.i18ns.setting.hostNull));
                            }
                        },
                        trigger: 'change'
                    },
                    hostPort: {
                        required: true,
                        validator: function (rule, value, callback) {
                            if (value) {
                                if (!/^[0-9]{1,5}$/.test(value) || value > 65535 || value < 1) {
                                    return callback(new Error(app.i18ns.setting.legthCheckMore));
                                } else
                                    return callback();
                            } else {
                                return callback(new Error(app.i18ns.setting.portNull));
                            }
                        },
                        trigger: 'change'
                    },
                    username: [{
                        required: true,
                        validator: function (rule, value, callback) {
                            if (value) {
                                if (value.length > 100) {
                                    return callback(new Error(app.i18ns.setting.userNameError));
                                } else
                                    return callback();
                            } else {
                                return callback(new Error(app.i18ns.setting.userNameNull));
                            }
                        },
                        trigger: 'change'
                    }],
                    password: {
                        required: true,
                        validator: function (rule, value, callback) {
                            if (value) {
                                if (!
                                    /^[a-zA-Z0-9\~\`\!\@\#\$\%\^\&\*\(\)\_\+\-\=\[\]|{\}\;\'\:\"\,\.\/\<\>\?]{1,100}$/
                                    .test(value)) {
                                    return callback(new Error(app.i18ns.setting.passwordError));
                                } else {
                                    return callback();
                                }
                            } else {
                                if (app.isUpdate) {
                                    return callback();
                                }
                                return callback(new Error(app.i18ns.setting.passwordNull));
                            }
                        },
                        trigger: 'change'
                    }
                }
            },
            created: function () {
                this.i18ns = getIn18();
                Vue.nextTick(function () {
                    if (pluginName == "DirectorForvCenter") {
                        app.getIps();
                        app.getSetting();
                    }
                })
            },
            methods: {
                getIps: function () {
                    settingManage.getIps(function (res) {
                        app.ips = [];
                        for (var i in res.data) {
                            app.ips.push({
                                "label": res.data[i],
                                "value": res.data[i]
                            });
                        }
                    });
                },
                getSetting: function () {
                    app.fullscreenLoading = true;
                    settingManage.getSetting(function (res) {
                        app.fullscreenLoading = false;
                        if (res.code == '0') {
                            if (res.data) {
                                app.ruleForm.hostIp = res.data.hostIp;
                                app.ruleForm.hostPort = res.data.hostPort;
                                app.ruleForm.username = res.data.username;
                                app.ruleForm.password = res.data.password;
                            }
                        } else {
                            var msg = getErrorMsg(res);
                            alertMsg(msg);
                        }
                    })
                },
                save: function () {
                    var param = {
                        hostIp: this.ruleForm.hostIp,
                        hostPort: this.ruleForm.hostPort,
                        username: this.ruleForm.username,
                        password: this.ruleForm.password
                    }
                    this.$refs['ruleForm'].validate(function (valid) {
                        if (valid) {
                            app.fullscreenLoading = true;
                            settingManage.saveSetting(param, function (res) {
                                app.fullscreenLoading = false;
                                if (res.code == '0') {
                                    app.$alert(app.i18ns.common.saveSuccess, app.i18ns.common
                                        .prompt, {
                                            confirmButtonText: app.i18ns.common.confirm,
                                            callback: function () {}
                                        });
                                } else {
                                    var msg = getErrorMsg(res);
                                    alertMsg(msg);
                                }
                            })
                        }
                    });
                }
            }
        });
    </script>
</body>

</html>