<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>部署信息</title>
    <link href="../../css/element.css" rel="stylesheet" />
    <link href="../../css/style.css" rel="stylesheet" />
    <script src="../../scripts/vue.js"></script>
    <script src="../../scripts/element.js"></script>
    <script src="../../scripts/jquery-3.2.1.min.js"></script>
    <script src="../../scripts/i18n/zh-CN.js"></script>
    <script src="../../scripts/i18n/en.js"></script>
    <script src="../i18n/en.js"></script>
    <script src="../i18n/zh-CN.js"></script>
    <script src="../../scripts/polyfill.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../../scripts/web-platform.js"></script>
    <script src="../js/errorCode.js"></script>
    <script src="../../scripts/lodash.min.js"></script>
    <script src="../../scripts/Chart.bundle.min.js"></script>
    <script src="js/rest.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }

        body {
            min-width: 900px;
        }

        .deployContent {
            padding: 20px;
        }

        .optionGroup {
            float: right;
            position: relative;
        }

        .infoTitle {
            font-size: 18px;
            font-weight: 600;
            display: block;
            margin-bottom: 15px;
        }

        .deployinfo {
            border-collapse: collapse;
            width: 95%;
            table-layout: fixed;
        }

        .deployinfo tr td {
            height: 30px;
            padding-left: 5px;
        }

        .dashBorder {
            width: 100%;
            height: 1px;
            border-bottom: #dddddd 1px dashed;
            margin-bottom: 25px;
            margin-top: 25px;
        }

        /* 部署的下拉搜索框 */
        .input-with-select {
            display: inline-block;
            position: relative;
            vertical-align: middle;
        }

        .input-with-select .el-select .el-input {
            width: 130px;
        }

        .mt20 {
            margin: 20px 0;
        }

        .baseColor {
            color: #409EFF;
            cursor: pointer;
        }

        .fr {
            float: right;
        }

        .mt20 .el-button {
            vertical-align: middle;
        }

        .mt20 .el-input-group {
            vertical-align: middle;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <el-row v-loading.fullscreen.lock="fullscreenLoading " :element-loading-text="i18ns.common.loading">
            <div class="deployContent">
                <div>
                    <span class="infoTitle">{{i18ns.OSDeploy.deploy_basicInfo}}</span>
                    <el-row>
                        <table class="deployinfo">
                            <tr>
                                <td>{{i18ns.OSDeploy.OSDeploy_imageModelNameColon}}</td>
                                <td><span class="baseColor" @click="toDeployInfo">{{deployInfo.Name}}</span></td>
                                <td>{{i18ns.OSDeploy.deploy_descriptionColon}}</td>
                                <td style="word-break: break-all">{{deployInfo.Description}}</td>
                            </tr>
                            <tr>
                                <td>{{i18ns.OSDeploy.OSDeploy_modelTypeColon}}</td>
                                <td>
                                    <span
                                        v-if="deployInfo.ModelType=='Standard'">{{i18ns.OSDeploy.deploy_standard}}</span>
                                    <span
                                        v-else-if="deployInfo.ModelType=='Clone'">{{i18ns.OSDeploy.deploy_clone}}</span>
                                </td>
                                <td>{{i18ns.OSDeploy.deploy_statusColon}}</td>
                                <td>
                                    <span
                                        v-if="deployInfo.Status=='Available'">{{i18ns.OSDeploy.deploy_available}}</span>
                                    <span v-else-if="deployInfo.Status=='Using'">{{i18ns.OSDeploy.deploy_using}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>{{i18ns.OSDeploy.deploy_updateTimeColon}}</td>
                                <td>{{deployInfo.ModifyTime}}</td>
                                <td>{{i18ns.OSDeploy.deploy_createTimeColon}}</td>
                                <td>{{deployInfo.CreateTime}}</td>
                            </tr>
                        </table>
                    </el-row>
                </div>
                <div class="dashBorder"></div>
                <div>
                    <span class="infoTitle">{{i18ns.OSDeploy.deploy_selectDevice}}</span>
                    <el-row class="mt20">
                        <!--  <div class="input-with-select">
                            <el-input :placeholder="i18ns.OSDeploy.deploy_pleaseInputKeywords" v-model.trim="keyword"
                                clearable>
                                <el-button slot="append" icon="el-icon-search"></el-button>
                            </el-input>
                        </div> -->
                        <el-button :disabled="listData.length===0" v-on:click="clear()">{{i18ns.common.clear}}
                        </el-button>
                        <el-button type="primary" @click="addDevice()" v-loading.fullscreen.lock="fullscreenLoading "
                            :element-loading-text="i18ns.common.loading">{{i18ns.common.add}}</el-button>
                    </el-row>
                    <el-row>
                        <el-table :data="listData" style="width: 100%" border>
                            <el-table-column prop="SerialNumber" :label="i18ns.server.sn"></el-table-column>
                            <el-table-column prop="IPv4" :label="i18ns.OSDeploy.OSDeploy_BMCIP"></el-table-column>
                            <el-table-column prop="Model" :label="i18ns.OSDeploy.OSDeploy_deviceType">
                            </el-table-column>
                            <el-table-column :label="i18ns.common.operation">
                                <template slot-scope="scope">
                                    <el-button type="text" size="small" @click="deleteOne(scope.row,scope.$index)">
                                        {{i18ns.common.delete}}</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-row>
                    <el-row class="pagination-row">
                        <el-col v-bind:span="24" style="text-align:left;">
                            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                                v-bind:current-page="currentPage" v-bind:page-sizes="pageSizes"
                                v-bind:page-size="pageSize" layout="total, sizes, prev, pager, next, jumper,slot"
                                v-bind:total="total">
                                <el-button style="border: 1px solid #c4c4c4;margin-left: 10px;" @click="toensurePage">{{i18ns.common.confirm}}
                                </el-button>
                            </el-pagination>
                        </el-col>
                    </el-row>
                </div>
            </div>
        </el-row>
        <el-row>
            <el-button style="margin-top:10px;" @click="back">{{i18ns.common.cancel}}</el-button>
            <el-button @click="device" :disabled="listData.length<=0" type="primary">{{i18ns.OSDeploy.deploy_name}}
            </el-button>
        </el-row>
        <!-- 选择设备 -->
        <el-dialog :close-on-click-modal="false" :title="i18ns.OSDeploy.deploy_addDevice"
            :visible.sync="tipsDialogisible" width="80%">
            <!--  <el-row class="input-with-select">
                <el-input v-model.trim="keyword" clearable>
                    <el-button slot="append" icon="el-icon-search"></el-button>
                </el-input>
            </el-row> -->
            <el-button v-if="OSQueryList.length!=checkedList.length" class="fr" type="primary"
                @click="handleSelectAll(true)" :disabled="OSQueryList<=0">{{i18ns.OSDeploy.deploy_selectAll}}
            </el-button>
            <el-button v-else class="fr" type="primary" @click="handleSelectAll(false)">
                {{i18ns.OSDeploy.deploy_cancelSelectAll}}</el-button>
            <el-table ref="nodeTable" :data="OSQueryList" border style="width: 100%; margin-top: 10px;"
                header-row-class-name="my_table_header" @selection-change="handleSelectionChange">
                <el-table-column type="selection" width="55"> </el-table-column>
                <el-table-column prop="SerialNumber" :label="i18ns.server.sn"></el-table-column>
                <el-table-column prop="IPv4" :label="i18ns.OSDeploy.OSDeploy_BMCIP"></el-table-column>
                <el-table-column prop="Model" :label="i18ns.OSDeploy.OSDeploy_deviceType"></el-table-column>
            </el-table>
            <el-row class="pagination-row" v-if="OSQueryList.length>0">
                <el-col v-bind:span="24" style="text-align:left;">
                    <el-pagination @current-change="handleTipChange" v-bind:current-page="tipsPageNo"
                        layout="total, prev, pager, next, jumper,slot" v-bind:total="tipsTotal"
                        v-bind:page-size="tipsPageSize">
                        <el-button style="border: 1px solid #c4c4c4;margin-left: 10px;">{{i18ns.common.confirm}}
                        </el-button>
                    </el-pagination>
                </el-col>
            </el-row>
            <div slot="footer" class="dialog-footer">
                <el-button @click="tipsDialogisible=false">{{i18ns.common.cancel}}</el-button>
                <el-button @click="ensure" v-loading.fullscreen.lock="fullscreenLoading"
                    :disabled="checkedList.length<=0" :element-loading-text="i18ns.common.loading" type="primary">
                    {{i18ns.common.confirm}}</el-button>
            </div>
        </el-dialog>
        <!-- 提示部署 -->
        <el-dialog :close-on-click-modal="false" :title="i18ns.common.warn" :visible.sync="tipsDeploy">
            <el-row>
                <el-alert :title="i18ns.OSDeploy.OSDeploy_checkWhetherDeployedDevices" type="warning"
                    :description="i18ns.OSDeploy.OSDeploy_deployedDevicesAlarm" show-icon :closable="false">
                </el-alert>
            </el-row>
            <div slot="footer" class="dialog-footer">
                <el-button @click="tipsDeploy=false">{{i18ns.common.no}}</el-button>
                <el-button @click="ensureDeploy" type="primary">{{i18ns.common.yes}}</el-button>
            </div>
        </el-dialog>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                i18ns: [],
                FDs: [],
                FDIp: '',
                deployId: '',
                loading: false,
                fullscreenLoading: false,
                currentPage: 1,
                pageSizes: [10, 20, 50, 100],
                pageSize: 10,
                total: 0,

                deployInfo: {},
                keyword: '',
                listData: [],
                tipsDialogisible: false,
                keyword: '',
                OSQueryList: [],
                isCheckAll: true, //是否选中所有设备行
                checkedList: [], //选中的设备行

                tipsDeploy: false,

                tipsPageSize: 10,
                tipsPageNo: 1,
                tipsTotal: 0
            },
            computed: {

            },
            created: function () {
                this.i18ns = getIn18();
                this.FDIp = getCurrentFD();
                this.deployId = getQueryString('id');
            },
            mounted: function () {
                Vue.nextTick(function () {
                    app.getDeployInfo();
                })
                var that = this;
                //输入框键盘事件监听
                $('.is-in-pagination .el-input__inner').bind('keydown',function(event){
                    if(event.keyCode == "13") {
                        var value = parseInt(this.value);
                        that.handleCurrentChange(value);
                    }
                });
            },
            methods: {
                toensurePage:function(){
                    var value = parseInt($('.is-in-pagination .el-input__inner').val());
                    this.handleCurrentChange(value);
                },
                /**
                 *  返回按钮方法 
                 * **/
                back: function () {
                    window.location.href = '../osDeploy/index.html?s=' + Math.random();
                },
                /**
                 * 获取部署详情
                 */
                getDeployInfo: function () {
                    var param = {
                        ip: this.FDIp,
                        id: this.deployId
                    };
                    serverprofileManage.getModelsQuery(param, function (ret) {
                        if (ret.code == '0') {
                            app.deployInfo = ret.data[0].data;
                        } else {
                            if (ret.ip != app.FDIp) {
                                return false
                            }
                            var msg = getErrorMsg(ret);
                            alertMsg(msg);
                        }
                    })
                },
                /**
                 * 查看详情
                 */
                toDeployInfo: function () {
                    window.location.href = '../osDeploy/deployInfo.html?id=' + this.deployId;
                },
                /**
                 * 清空
                 */
                clear: function () {
                    this.checkedList = [];
                    this.listData = [];
                    this.total = 0;
                },
                /**
                 * 新增
                 */
                addDevice: function () {
                    this.tipsDialogisible = true;
                    this.tipsPageNo = 1;
                    this.add()
                },
                add: function () {
                    var param = {
                        ip: this.FDIp,
                        id: this.deployId,
                        pageSize: this.tipsPageSize,
                        pageNo: this.tipsPageNo
                        // data: {
                        //     ImageID: this.deployId
                        // }
                    };
                    serverprofileManage.releaseDeploy(param, function (ret) {
                        if (ret.code == '0') {
                            app.OSQueryList = ret.data[0].data.Devices ? ret.data[0].data.Devices :
                                [];
                            app.tipsTotal = ret.data[0].data.TotalCount;
                            for (var i = 0; i < app.OSQueryList.length; i++) {
                                if (app.listData.length > 0) {
                                    if (_.some(app.listData, function (item) {
                                            return item.DeviceID == app.OSQueryList[i].DeviceID;
                                        })) {
                                        (function (arg) {
                                            Vue.nextTick(function () {
                                                app.$refs.nodeTable.toggleRowSelection(
                                                    arg,
                                                    true);
                                            })
                                        })(app.OSQueryList[i])
                                    }
                                }
                            }
                        } else {
                            var msg = getErrorMsg(ret);
                            // alertMsg(msg);
                        }
                    })
                },
                /**
                 * 删除
                 */
                deleteOne: function (row, index) {
                    console.log(index);
                    this.checkedList.splice(index, 1);
                    this.listData.splice(index, 1);
                    this.total = this.listData.length;
                },
                /**
                 * 弹窗的选择
                 */
                handleSelectionChange: function (val) {
                    console.log(val)
                    this.checkedList = val;
                },
                /**
                 * 确定
                 */
                ensure: function () {
                    this.tipsDialogisible = false;
                    var from = (this.currentPage - 1) * this.pageSize;
                    var end = this.currentPage * this.pageSize;
                    this.listData = this.checkedList.slice(from, end);
                    this.total = this.listData.length;
                },
                /**
                 * 部署
                 */
                device: function () {
                    this.tipsDeploy = true;
                },
                /**
                 * 确认部署
                 */
                ensureDeploy: function () {
                    var data = {
                        Collections: [{
                            Source: [this.deployId],
                            Target: [],
                            Params: [{
                                Key: "Type",
                                Value: "CDInstall"
                            }]
                        }]
                    }
                    for (var i = 0; i < this.checkedList.length; i++) {
                        data.Collections[0].Target.push(this.checkedList[i].DeviceID);
                    }
                    var param = {
                        ip: this.FDIp,
                        data: data
                    };
                    serverprofileManage.deployOs(param, function (ret) {
                        if (ret.code == '0') {
                            window.location.href = '../osDeploy/index.html?s=' + Math.random();
                        } else {
                            if (ret.ip != app.FDIp) {
                                return false
                            }
                            var msg = getErrorMsg(ret);
                            alertMsg(msg);
                            /*  alertMsg(getErrorMsg({
                                 code: 'os.20004'
                             })) */
                        }
                    })
                },
                /**
                 * 全选
                 */
                handleSelectAll: function (bl) {
                    _(this.OSQueryList).forEach(function (row) {
                        app.$refs.nodeTable.toggleRowSelection(row, bl);
                    });
                    /*  if (checkedList.length) {
                         _(this.OSQueryList).forEach(function (row) {
                             app.$refs.nodeTable.toggleRowSelection(row, app.isCheckAll);
                         });
                         this.isCheckAll = !this.isCheckAll;
                     } else {
                         this.$refs.nodeTable.clearSelection();
                         this.isCheckAll = !this.isCheckAll;
                     } */
                },

                /**
                 * 设置当前显示数据的总数
                 * 
                 * @param {any} val 
                 */
                handleSizeChange: function (val) {
                    this.pageSize = val;
                    var from = (this.currentPage - 1) * this.pageSize;
                    var end = this.currentPage * this.pageSize;
                    this.listData = this.checkedList.slice(from, end);
                },
                /**
                 * 切换当前显示页
                 * 
                 * @param {any} val 
                 */
                handleCurrentChange: function (val) {
                    this.currentPage = val;
                    var from = (this.currentPage - 1) * this.pageSize;
                    var end = this.currentPage * this.pageSize;
                    this.listData = this.checkedList.slice(from, end);
                },
                /**
                 * 切换当前显示页  弹窗设备选择
                 * 
                 * @param {any} val 
                 */
                handleTipChange: function (val) {
                    this.tipsPageNo = val;
                    this.add();
                },

            }
        });
    </script>
</body>

</html>