<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>修改部署</title>
    <link href="../../css/element.css" rel="stylesheet" />
    <link href="../../css/style.css" rel="stylesheet" />
    <script src="../../scripts/vue.js"></script>
    <script src="../../scripts/element.js"></script>
    <script src="../../scripts/jquery-3.2.1.min.js"></script>
    <script src="../../scripts/i18n/zh-CN.js"></script>
    <script src="../../scripts/i18n/en.js"></script>
    <script src="../i18n/en.js"></script>
    <script src="../i18n/zh-CN.js"></script>
    <script src="../../scripts/polyfill.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../../scripts/web-platform.js"></script>
    <script src="../js/errorCode.js"></script>
    <script src="../../scripts/lodash.min.js"></script>
    <script src="../../scripts/Chart.bundle.min.js"></script>
    <script src="js/redHat.js"></script>
    <script src="js/window.js"></script>
    <script src="js/vmWare.js"></script>
    <script src="js/image.js"></script>
    <script src="js/centOs.js"></script>
    <script src="js/suse.js"></script>
    <script src="js/rest.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }

        body {
            min-width: 900px;
        }

        .deployContent {
            padding: 20px;
        }

        .optionGroup {
            float: right;
            position: relative;
        }

        .infoTitle {
            font-size: 18px;
            font-weight: 600;
            display: block;
            margin-bottom: 20px;
        }

        .deployinfo {
            border-collapse: collapse;
            width: 100%;
        }

        .deployinfo tr td {
            height: 30px;
            padding-left: 5px;
        }

        .dashBorder {
            width: 100%;
            height: 1px;
            border-bottom: #dddddd 1px dashed;
            margin-bottom: 25px;
            margin-top: 25px;
        }

        .el-button.is-disabled,
        .el-button.is-disabled:focus,
        .el-button.is-disabled:hover {
            background: #f5f7fa;
            border: none;
            color: inherit;
            padding: 7px 8px
        }

        .el-input-group__append {
            background: #f5f7fa;
        }

        .el-select {
            width: 100%;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <el-row v-loading.fullscreen.lock="fullscreenLoading " :element-loading-text="i18ns.common.loading">
            <div class="deployContent">
                <div>
                    <span class="infoTitle">{{i18ns.OSDeploy.deploy_basicInfo}}</span>
                    <el-row>
                        <el-form label-position="left" :model="creatForm" :rules="rules" ref="creatForm"
                            label-width="250px">
                            <el-col :span="13">
                                <el-form-item label="Fusion Director：" prop="FDIp">
                                    <el-select v-model="FDIp" @change="commandClick" disabled>
                                        <el-option v-for="item in FDs" :key="item.name" :label="item.label"
                                            :value="item.name"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="13">
                                <el-form-item :label="i18ns.OSDeploy.deploy_imageFileName" prop="ImageUUID">
                                    <el-input :placeholder="i18ns.OSDeploy.pleaseEnter" v-model="OSName"
                                        class="input-with-select" disabled>
                                        <el-button slot="append" disabled>{{i18ns.OSDeploy.deploy_selectImage}}
                                        </el-button>
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="13">
                                <el-form-item :label="i18ns.OSDeploy.OSDeploy_imageModelNameColon" prop="Name">
                                    <el-input :placeholder="i18ns.OSDeploy.pleaseEnter" v-model="creatForm.Name"
                                        class="input-with-select"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="13">
                                <el-form-item :label="i18ns.OSDeploy.deploy_descriptionColon" prop="Description">
                                    <el-input :rows="3" type="textarea" v-model="creatForm.Description"
                                        :placeholder="i18ns.OSDeploy.deploy_descriptionLimit"></el-input>
                                </el-form-item>
                            </el-col>

                        </el-form>
                    </el-row>
                </div>
                <component :is="currentTabComponent" :f-d-ip="FDIp" ref="deployModelInfo" :form="deployForm">
                </component>
            </div>
        </el-row>
        <el-row>
            <!-- 返回按钮 -->
            <el-button style="margin-top:10px;" @click="back">{{i18ns.common.cancel}}</el-button>
            <el-button style="margin-top:10px;" type="primary" @click="creatDeploy">{{i18ns.common.submit}}</el-button>
        </el-row>
        <!-- 提示 -->
        <el-dialog :close-on-click-modal="false" :title="i18ns.common.prompt" :visible.sync="tipsWin" width="80%">
            <el-row>
                <el-alert :title="i18ns.OSDeploy.OSDeploy_noCDkeyTip" type="info" show-icon :closable="false">
                </el-alert>
            </el-row>
            <div slot="footer" class="dialog-footer">
                <el-button @click="tipsWin=false">{{i18ns.common.cancel}}</el-button>
                <el-button @click="winEnsure" type="primary">{{i18ns.common.confirm}}</el-button>
            </div>
        </el-dialog>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                i18ns: [],
                FDs: [],
                FDIp: '',
                deployId: '',
                loading: false,
                fullscreenLoading: false,
                creatForm: {
                    Name: '',
                    Description: '',
                    ImageUUID: ''
                },
                rules: {
                    Description: {
                        required: false,
                        validator: function (rule, value, callback) {
                            if (value) {
                                if (getBytes(value) > 256) {
                                    return callback(new Error(app.i18ns.OSDeploy.deploy_descriptionLimit));
                                } else
                                    return callback();
                            } else {
                                return callback();
                            }
                        },
                        trigger: 'change'
                    },
                    ImageUUID: {
                        required: true,
                        validator: function (rule, value, callback) {
                            if (value) {
                                return callback();
                            } else {
                                return callback(new Error(app.i18ns.OSDeploy
                                    .OSDeploy_pleaseSelectImageFile));
                            }
                        },
                        trigger: 'change'
                    },
                    Name: {
                        required: true,
                        validator: function (rule, value, callback) {
                            if (value) {
                                if (!/^[a-zA-Z0-9_\-.\u4e00-\u9fa5]+$/.test(value)) {
                                    return callback(new Error(app.i18ns.common.regExp_userName));
                                } else if (getBytes(value) > 32) {
                                    return callback(new Error(app.i18ns.common.regExp_userName));
                                } else {
                                    return callback();
                                }
                            } else {
                                return callback(new Error(app.i18ns.common.regExp_userName));
                            }
                        },
                        trigger: 'blur'
                    }
                },
                currentTabComponent: '',
                OSName: '',
                deployForm: {},
                tipsWin: false

            },
            computed: {},
            created: function () {
                this.i18ns = getIn18();
                this.deployId = getQueryString('id');
            },
            mounted: function () {
                var that = this;
                //获取FD列表数据
                setTimeout(function () {
                    getFDList(that.bindFD);
                }, 0);
            },
            methods: {
                /**
                 * 获取FD数据 回调函数
                 * 
                 * @param {any} ret 
                 */
                bindFD: function (ret) {
                    if (ret.code === '0') {
                        var lg = ret.data.length;
                        if (lg > 0) {
                            for (var i = 0; i <
                                lg; i++) {
                                if (ret.data[i].aliasName) {
                                    this.FDs.push({
                                        label: ret.data[i].aliasName,
                                        name: ret.data[i].hostIp
                                    });
                                } else {
                                    this.FDs.push({
                                        label: ret.data[i].hostIp,
                                        name: ret.data[i].hostIp
                                    });
                                }
                            }
                            var currentFD = getCurrentFD();
                            if (currentFD) {
                                var _currentFD = _.find(this.FDs, {
                                    name: currentFD
                                })
                                if (_currentFD) {
                                    this.FDIp = currentFD;
                                } else {
                                    setCurrentFD(ret.data[0].hostIp);
                                    this.FDIp = ret.data[0].hostIp;
                                }
                            } else {
                                setCurrentFD(ret.data[0].hostIp);
                                this.FDIp = ret.data[0].hostIp;
                            }
                            this.loading = true;
                            this.getDeployInfo();
                        } else {
                            alertMsg(getErrorMsg({
                                code: '-90002'
                            }));
                        }
                    } else {
                        if (ret.ip != app.FDIp) {
                            return false
                        }
                        var msg = getErrorMsg(ret);
                        alertMsg(msg);
                    }
                },

                /**
                 * FD下拉框 点击切换事件
                 * 
                 * @param {any} command 
                 * @param {any} com 
                 */
                commandClick: function () {
                    setCurrentFD(this.FDIp);
                },
                /**
                 *  返回按钮方法 
                 * **/
                back: function () {
                    this.$confirm('<span><strong>' + app.i18ns.common.routeSkipTip +
                        '</strong></span></br><span>' + app.i18ns
                        .common
                        .routeSkipWarningTip + '</span>', app.i18ns.common.prompt, {
                            confirmButtonText: app.i18ns.common.yes,
                            cancelButtonText: app.i18ns.common.no,
                            type: 'warning',
                            dangerouslyUseHTMLString: true,
                            closeOnClickModal: false
                        }).then(function () {
                        window.location.href = '../osDeploy/index.html?s=' + Math.random();
                    }).catch(function () {});
                },
                /**
                 * 获取部署详情
                 */
                getDeployInfo: function () {
                    var param = {
                        ip: this.FDIp,
                        id: this.deployId
                    };
                    serverprofileManage.getModelsQuery(param, function (ret) {
                        if (ret.code == '0') {
                            var data = ret.data[0].data
                            app.OSName = data.ImageName;
                            app.creatForm = {
                                ImageUUID: data.UUID,
                                Name: data.Name,
                                Description: data.Description
                            }
                            app.currentTabComponent = data.ImageType;
                            app.deployForm = data;
                        } else {
                            if (ret.ip != app.FDIp) {
                                return false
                            }
                            var msg = getErrorMsg(ret);
                            alertMsg(msg);
                        }
                    })
                },
                /**
                 * 提交修改部署
                 */
                creatDeploy: function () {
                    this.$refs['creatForm'].validate(function (valid) {
                        if (valid) {
                            if (app.$refs.deployModelInfo) {
                                app.$refs.deployModelInfo.$refs['deployForm'].validate(function (
                                    valid) {
                                    if (valid) {
                                        if (app.$refs.deployModelInfo.deployForm.Partition
                                            .length > 0) {
                                            if (app.$refs.deployModelInfo.deployForm.Cdkey
                                                .length > 0) {
                                                if (app.$refs.deployModelInfo.setCDKey()) {
                                                    app.winEnsure();
                                                } else {
                                                    app.tipsWin = true;
                                                }
                                            } else {
                                                app.winEnsure();
                                            }
                                        } else {
                                            app.winEnsure();
                                        }
                                    } else {
                                        console.log('cuowu');
                                        return false
                                    }
                                })
                            }
                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    });
                },

                /**
                 * 确定windows提交
                 */
                winEnsure: function () {
                    var obj1 = JSON.parse(JSON.stringify(this.creatForm));
                    var obj2 = JSON.parse(JSON.stringify(this.$refs.deployModelInfo.deployForm));
                    var data = _.assign(obj1, obj2);
                    _.unset(data, 'againPwd');
                    _.unset(data, 'ImageUUID');
                    var param = {
                        ip: this.FDIp,
                        id: this.deployId,
                        data: data
                    };
                    this.fullscreenLoading = true;
                    serverprofileManage.editDeploy(param, function (ret) {
                        setTimeout(function () {
                            app.fullscreenLoading = false;
                        }, intervalTime); //延迟关闭loading
                        if (ret.code == '0') {
                            window.location.href = '../osDeploy/index.html?s=' + Math.random();
                        } else {
                            if (ret.ip != app.FDIp) {
                                return false
                            }
                            var msg = getErrorMsg(ret);
                            alertMsg(msg);
                            /*    alertMsg(getErrorMsg({
                                   code: 'os.20002'
                               })); */
                        }
                    })
                }

            }
        });
    </script>
</body>

</html>