<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>FD</title>
    <link href="../../css/element.css" rel="stylesheet" />
    <link href="../../css/style.css" rel="stylesheet" />
    <script src="../../scripts/vue.js"></script>
    <script src="../../scripts/element.js"></script>
    <script src="../../scripts/jquery-3.2.1.min.js"></script>
    <script src="../../scripts/i18n/zh-CN.js"></script>
    <script src="../../scripts/i18n/en.js"></script>
    <script src="../i18n/en.js"></script>
    <script src="../i18n/zh-CN.js"></script>
    <script src="../../scripts/polyfill.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../../scripts/web-platform.js"></script>
    <script src="../js/errorCode.js"></script>
    <script src="../../scripts/lodash.min.js"></script>
    <script src="js/rest.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }

        body {
            min-width: 900px;
        }

        .el-alert--error {
            background: transparent;
            color: red;
            text-align: left;
        }

        .el-dialog__body {
            padding-bottom: 5px;
        }

        .el-form-item__error {
            z-index: 2;
            background-color: #FFFFFF;
        }

        form input {
            max-width: 300px;
        }

        .el-dialog {
            width: 525px;
        }

        .groupTips {
            padding: 7px 15px;
            margin-top: -5px;
            margin-bottom: 8px;
            box-sizing: border-box;
            background-color: #e5e9f2;
            font-size: 14px;
        }

        .el-loading-mask {
            background-color: rgba(255, 255, 255, .6);
        }

        .input-with-search {
            display: inline-block;
            position: relative;
            vertical-align: middle;
            margin-bottom: 2px;
        }

        .search-row .el-input-group {
            vertical-align: middle;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <!-- 顶部操作栏 -->
        <el-row class="search-row" v-loading.fullscreen.lock="fullscreenLoading"
            :element-loading-text="i18ns.common.loading">
            <div class="input-with-search">
                <el-input placeholder="IP" v-model="keyword" clearable>
                    <el-button slot="append" icon="el-icon-search" @click="search(keyword)"></el-button>
                </el-input>
            </div>
            <el-button v-on:click="search('')">{{i18ns.common.refresh}}</el-button>
            <el-button style="margin-left: 10px;" @click="addFD()" :disabled="!isDisable">{{i18ns.common.add}}
            </el-button>
            <el-button @click="batchDeleteFD()" :disabled="listData.length===0||multipleSelection.length===0">
                {{i18ns.FDConfig.batchDelete}}</el-button>
            <el-button @click="dialogCertVisible=true">
                {{i18ns.FDConfig.uploadCert}}
            </el-button>
        </el-row>
        <!-- 表格信息 -->
        <div>
            <el-table v-bind:data="listData" border style="width: 100%" :empty-text="emptyText"
                :element-loading-text="i18ns.common.loading" @selection-change="handleSelectionChange"
                header-row-class-name="my_table_header">
                <el-table-column type="selection" width="55">
                </el-table-column>
                <el-table-column prop="hostIp" v-bind:label="i18ns.FDConfig.templateHost">
                </el-table-column>
                <el-table-column prop="aliasName" v-bind:label="i18ns.FDConfig.templateAliasName">
                </el-table-column>
                <el-table-column prop="loginAccount" v-bind:label="i18ns.FDConfig.templateName">
                </el-table-column>
                <el-table-column prop="haStatus" v-bind:label="i18ns.FDConfig.ha">
                    <template scope="scope">
                        <span v-if="scope.row.haStatus==1">
                            {{i18ns.FDConfig.enable}}
                        </span>
                        <span v-else>
                            {{i18ns.FDConfig.disable}}
                        </span>

                    </template>
                </el-table-column>
                <el-table-column prop="alarmStatus" v-bind:label="i18ns.FDConfig.alarm">
                    <template scope="scope">
                        <span v-if="scope.row.alarmStatus==1">
                            {{i18ns.FDConfig.enable}}
                        </span>
                        <span v-else>
                            {{i18ns.FDConfig.disable}}
                        </span>
                    </template>
                </el-table-column>
                <el-table-column prop="fdVersion" v-bind:label="i18ns.FDConfig.FDVersion">
                </el-table-column>
                <el-table-column prop="createTime" v-bind:label="i18ns.FDConfig.templateDate">
                </el-table-column>
                <el-table-column prop="lastModify" v-bind:label="i18ns.FDConfig.templateUpdate">
                </el-table-column>
                <el-table-column v-bind:label="i18ns.FDConfig.templateHandle" width="160">
                    <template slot-scope="scope">
                        <el-button type="text" size="small" v-on:click="editFD(scope.$index, scope.row)">
                            {{i18ns.FDConfig.Edit}}</el-button>
                        <el-button type="text" size="small" v-on:click="deleteFD(scope.$index, scope.row)">
                            {{i18ns.FDConfig.Delete}}</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-row class="pagination-row">
                <el-col v-bind:span="24" style="text-align:left;">
                    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                        v-bind:current-page="currentPage" v-bind:page-sizes="pageSizes" v-bind:page-size="pageSize"
                        layout="total, sizes, prev, pager, next, jumper,slot" v-bind:total="total">
                        <el-button style="border: 1px solid #c4c4c4;margin-left: 10px;" @click="toensurePage">{{i18ns.common.confirm}}
                        </el-button>
                    </el-pagination>
                </el-col>
            </el-row>
        </div>
        <el-dialog :close-on-click-modal="false" v-bind:title="i18ns.FDConfig.addFD"
            v-bind:visible.sync="dialogAddFormVisible" @close="closeDialog" width="830px">
            <el-form v-bind:model="ruleForm" v-bind:rules="rules" ref="ruleForm" label-width="120px"
                label-position="left" label-suffix=":">
                <el-row :gutter="50">
                    <el-col :span="12" style="border-right: 1px solid #E4E7ED;">
                        <el-form-item v-bind:label="i18ns.FDConfig.FDHost" prop="hostIp">
                            <el-input v-model="ruleForm.hostIp" auto-complete="off"></el-input>
                        </el-form-item>
                        <el-form-item v-bind:label="i18ns.FDConfig.FDPort" prop="port">
                            <el-input v-model="ruleForm.port" auto-complete="off"></el-input>
                        </el-form-item>
                        <el-form-item v-bind:label="i18ns.FDConfig.FDAliasName" prop="aliasName">
                            <el-input v-model="ruleForm.aliasName" auto-complete="off" @change="onVlaueChange()"
                                v-on:input="onVlaueChange"></el-input>
                        </el-form-item>
                        <el-form-item v-bind:label="i18ns.FDConfig.FDName" prop="loginAccount">
                            <el-input v-model="ruleForm.loginAccount" auto-complete="off" @change="onVlaueChange()"
                                v-on:input="onVlaueChange"></el-input>
                        </el-form-item>
                        <el-form-item v-bind:label="i18ns.FDConfig.FDPassWord" prop="loginPwd">
                            <el-input type="password" v-model="ruleForm.loginPwd" auto-complete="off"
                                @change="onVlaueChange()" v-on:input="onVlaueChange"></el-input>
                        </el-form-item>
                        <el-row style="text-align: right;">
                            <el-button @click="linkTest(0)">{{i18ns.FDConfig.linkTest}}</el-button>
                        </el-row>
                    </el-col>

                    <el-col :span="12">
                        <el-form-item v-bind:label="i18ns.FDConfig.isRegisterHA" prop="haStatus" label-width="160px"
                            v-show="canEnabledHA">
                            <el-switch v-model="ruleForm.haStatus" :disabled="!canEnabledHA"></el-switch>
                        </el-form-item>
                        <el-form-item v-bind:label="i18ns.FDConfig.isAlarmEnable" prop="alarmStatus"
                            label-width="160px">
                            <el-switch v-model="ruleForm.alarmStatus" @change="alarmEnabledChange"></el-switch>
                        </el-form-item>
                        <el-form-item v-bind:label="i18ns.FDConfig.alarmLevel" prop="alarmLevel" label-width="160px">
                            <el-radio-group v-model="ruleForm.alarmLevel" @change="pushEventLevelChange">
                                <el-radio class="radio" :label="0"> {{i18ns.FDConfig.all}}</el-radio>
                                <el-radio class="radio" :label="1"> {{i18ns.FDConfig.critical}}</el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item v-bind:label="i18ns.FDConfig.alarmUsername" prop="alarmUsername"
                            label-width="160px">
                            <el-input v-model="ruleForm.alarmUsername" auto-complete="off" :disabled="true"></el-input>
                        </el-form-item>
                        <el-form-item v-bind:label="i18ns.FDConfig.alarmPassword" prop="alarmPassword"
                            label-width="160px">
                            <el-input type="password" v-model="ruleForm.alarmPassword" auto-complete="off"
                                :disabled="!isSettingAlarm"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-form-item>
                    <span style="font-size:12px; text-align:left; color:green;"
                        v-show="isVisible ">{{isWhatDescription}}</span>
                </el-form-item>
                <el-form-item>
                    <span style="font-size:12px; text-align:left; color:red;"
                        v-show="isFalseVisible ">{{isFalseWhatDescription}}</span>
                </el-form-item>

            </el-form>
            <!-- 测试链接  和 保存按钮 -->
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogAddFormVisible=false">{{i18ns.common.cancel}}</el-button>
                <el-button @click="save()">{{i18ns.FDConfig.SaveCong}}</el-button>
            </div>
        </el-dialog>
        <el-dialog :close-on-click-modal="false" v-bind:title="i18ns.FDConfig.editSight"
            v-bind:visible.sync="dialogEditFormVisible" @close="closeDialog" width="830px">
            <el-form v-bind:model="ruleForm" v-bind:rules="rules" ref="editForm" label-width="120px"
                label-position="left" label-suffix=":">
                <el-row :gutter="50">
                    <el-col :span="12" style="border-right: 1px solid #E4E7ED;">
                        <el-form-item v-bind:label="i18ns.FDConfig.FDHost" prop="hostIp">
                            <el-input v-model="ruleForm.hostIp" auto-complete="off" :disabled="true"></el-input>
                        </el-form-item>
                        <el-form-item v-bind:label="i18ns.FDConfig.FDPort" prop="port">
                            <el-input v-model="ruleForm.port" auto-complete="off"></el-input>
                        </el-form-item>
                        <el-form-item v-bind:label="i18ns.FDConfig.FDAliasName" prop="aliasName">
                            <el-input v-model="ruleForm.aliasName" auto-complete="off" @change="onVlaueChange()"
                                v-on:input="onVlaueChange"></el-input>
                        </el-form-item>
                        <div style="margin-top:15px;margin-bottom:15px;margin-left:10px">
                            <el-checkbox v-model="checked" @change="checkChange">{{i18ns.FDConfig.changeInfo}}
                            </el-checkbox>
                        </div>
                        <el-form-item v-bind:label="i18ns.FDConfig.FDName" prop="loginAccount">
                            <el-input v-model="ruleForm.loginAccount" auto-complete="off" @change="onVlaueChange()"
                                v-on:input="onVlaueChange" :disabled="!checked"></el-input>
                        </el-form-item>
                        <el-form-item v-bind:label="i18ns.FDConfig.FDPassWord" prop="loginPwd">
                            <el-input type="password" v-model="ruleForm.loginPwd" auto-complete="off"
                                @change="onVlaueChange()" v-on:input="onVlaueChange" :disabled="!checked"></el-input>
                        </el-form-item>
                        <el-row style="text-align: right;">
                            <el-button @click="linkTest(1)" :disabled="!checked">{{i18ns.FDConfig.linkTest}}</el-button>
                        </el-row>
                    </el-col>

                    <el-col :span="12">
                        <el-form-item v-bind:label="i18ns.FDConfig.isRegisterHA" prop="haStatus" label-width="160px"
                            v-show="canEnabledHA">
                            <el-switch v-model="ruleForm.haStatus" :disabled="!canEnabledHA"></el-switch>
                        </el-form-item>
                        <el-form-item v-bind:label="i18ns.FDConfig.isAlarmEnable" prop="alarmStatus"
                            label-width="160px">
                            <el-switch v-model="ruleForm.alarmStatus" @change="alarmEnabledChange"></el-switch>
                        </el-form-item>
                        <el-form-item v-bind:label="i18ns.FDConfig.alarmLevel" prop="alarmLevel" label-width="160px">
                            <el-radio-group v-model="ruleForm.alarmLevel" @change="pushEventLevelChange">
                                <el-radio class="radio" :label="0"> {{i18ns.FDConfig.all}}</el-radio>
                                <el-radio class="radio" :label="1"> {{i18ns.FDConfig.critical}}</el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <div style="margin-top:15px;margin-bottom:15px;margin-left:10px"
                            v-if="row.haStatus==1||row.alarmStatus==1">
                            <el-checkbox v-model="checked1">{{i18ns.FDConfig.changeInfo}}</el-checkbox>
                        </div>
                        <el-form-item v-bind:label="i18ns.FDConfig.alarmUsername" prop="alarmUsername"
                            label-width="160px">
                            <el-input v-model="ruleForm.alarmUsername" auto-complete="off" :disabled="true"></el-input>
                        </el-form-item>
                        <el-form-item v-bind:label="i18ns.FDConfig.alarmPassword" prop="alarmPassword"
                            label-width="160px">
                            <el-input type="password" v-model="ruleForm.alarmPassword" auto-complete="off"
                                :disabled="isAlarmPasswordDisabled"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-form-item>
                    <span style="font-size:12px; text-align:left; color:green;"
                        v-show="isVisible ">{{isWhatDescription}}</span>
                </el-form-item>
                <el-form-item>
                    <span style="font-size:12px; text-align:left; color:red;"
                        v-show="isFalseVisible ">{{isFalseWhatDescription}}</span>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogEditFormVisible=false">{{i18ns.common.cancel}}</el-button>
                <el-button @click="edit()">{{i18ns.FDConfig.SaveCong}}</el-button>
            </div>
        </el-dialog>
        <el-dialog :close-on-click-modal="false" :title="i18ns.FDConfig.uploadCert" :visible.sync="dialogCertVisible"
            size="small" @close="certClose">
            <div>
                <form id="uploadForm" enctype="multipart/form-data"></form>
                <el-form v-bind:model="certForm" ref="certForm" :rules="certRules" label-width="150px"
                    label-position="left" label-suffix=":">
                    <el-form-item :label="i18ns.FDConfig.changeCert" prop="fileName">
                        <el-button size="small" type="primary" @click="changeCert">{{i18ns.FDConfig.changeCert}}
                        </el-button>
                        <input id="file" accept=".crt" type="file" name="file" style="display:none;" ref="file"
                            v-on:change="handleFileUpload()" v-if="dialogCertVisible" />
                        <el-row>
                            <el-tag type="gray" v-if="certForm.fileName">{{certForm.fileName}}</el-tag>
                        </el-row>

                        <el-input v-model="certForm.file" v-show="false"></el-input>
                    </el-form-item>
                </el-form>
                </form>
            </div>
            <div slot="footer" class="dialog-footer">
                <el-button @click="certClose">{{i18ns.common.cancel}}</el-button>
                <el-button @click="uploadCert">{{i18ns.common.save}}
                </el-button>
            </div>
        </el-dialog>
    </div>
</body>
<script>
    function getCookie(name) {
        var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
        if (arr = document.cookie.match(reg))
            return unescape(arr[2]);
        else
            return null;
    }
    var app = new Vue({
        el: '#app',
        data: {
            currentPage: 1,
            pageSize: 10,
            pageSizes: [10, 20, 50, 100],
            total: 0,
            showCheckbox: false,
            checked: false,
            checked1: false,
            row: [],
            //国际化
            i18ns: {},
            allListData: [],
            //FD数据列表
            listData: [],
            loading: false,
            fullscreenLoading: false,
            dialogTableVisible: false,
            dialogAddFormVisible: false,
            dialogEditFormVisible: false,
            keyword: '',
            dialogTitle: '',
            isVisible: false,
            isFalseVisible: false,
            isWhatDescription: '',
            isFalseWhatDescription: '',
            multipleSelection: [],
            isDisable: false,
            canEnabledHA: true,
            ruleForm: {
                id: '',
                hostIp: '',
                port: 443,
                aliasName: '',
                loginAccount: '',
                loginPwd: '',
                haStatus: false,
                alarmStatus: false,
                alarmUsername: '',
                alarmPassword: '',
                alarmLevel: ''
            },
            // 验证规则设定
            rules: {
                hostIp: {
                    required: true,
                    validator: function (rule, value, callback) {
                        if (value) {
                            if (!
                                /^(22[0-4]|2[0-1]\d|1[0-1][0-9]|12[0123456789]|1[3-9]\d|[1-9]\d|[1-9])\.(25[0-5]|2[0-4]\d|1\d{2}|[1-9]\d|\d)\.(25[0-5]|2[0-4]\d|1\d{2}|[1-9]\d|\d)\.(25[0-5]|2[0-4]\d|1\d{2}|[1-9]\d|[1-9])$/
                                .test(value)) {
                                if (!
                                    /^(?=^.{3,255}$)(http(s)?:\/\/)?(www\.)?[a-zA-Z0-9][-a-zA-Z0-9]{0,62}(\.[a-zA-Z0-9][-a-zA-Z0-9]{0,62})+(:\d+)*(\/\w+\.\w+)*$/
                                    .test(value)) { //支持域名
                                    return callback(new Error(app.i18ns.FDConfig.hostIPError));
                                } else {
                                    return callback();
                                }
                            } else
                                return callback();
                        } else {
                            return callback(new Error(app.i18ns.FDConfig.hostNull));
                        }
                    },
                    trigger: 'change'
                },
                aliasName: {
                    required: false,
                    validator: function (rule, value, callback) {
                        if (value) {
                            if (!/^[a-zA-Z0-9_\-\.]{1,100}$/.test(value)) {
                                return callback(new Error(app.i18ns.FDConfig.aliasNameError));
                            } else
                                return callback();
                        } else {
                            return callback();
                        }
                    },
                    trigger: 'change'
                },
                loginAccount: [{
                    required: true,
                    validator: function (rule, value, callback) {
                        if (value) {
                            if (!/^[a-zA-Z0-9_\-\.]{1,100}$/.test(value)) {
                                return callback(new Error(app.i18ns.FDConfig.userNameError));
                            } else
                                return callback();
                        } else {
                            return callback(new Error(app.i18ns.FDConfig.nameNull));
                        }
                    },
                    trigger: 'change'
                }],
                loginPwd: {
                    required: true,
                    validator: function (rule, value, callback) {
                        if (value) {
                            return callback();
                        } else {
                            if (!app.checked && app.dialogEditFormVisible) {
                                return callback();
                            }
                            return callback(new Error(app.i18ns.FDConfig.pwdNull));
                        }
                    },
                    trigger: 'change'
                },
                alarmUsername: [{
                    required: false,
                    validator: function (rule, value, callback) {
                        if (value) {
                            if (!/^[a-zA-Z0-9_\-\.]{1,100}$/.test(value)) {
                                return callback(new Error(app.i18ns.FDConfig.alarmUsernameError));
                            } else
                                return callback();
                        } else {
                            if (!app.checked1) {
                                return callback();
                            }
                            return callback(new Error(app.i18ns.FDConfig.alarmUsernameNullTips));
                        }
                    },
                    trigger: 'change'
                }],
                alarmPassword: {
                    required: false,
                    validator: function (rule, value, callback) {
                        if (value) {
                            if (value.length < 8 || value.length > 32) {
                                return callback(new Error(app.i18ns.FDConfig.passWordErrorMsg));
                            } else {
                                var count = 0;
                                var upperChar = new RegExp(/[A-Z]/g);
                                var lowerChar = new RegExp(/[a-z]/g);
                                var numChar = new RegExp(/[0-9]/g);
                                var specialChar = new RegExp(
                                    /[`~!@%&_=+;:'",<>\-\*\.\?\+\$\^\[\]\(\)\{\}\|\\\/]/g);
                                var poundSign = new RegExp(/[# ]/g);
                                if (upperChar.test(value)) {
                                    count++;
                                }
                                if (lowerChar.test(value)) {
                                    count++;
                                }
                                if (numChar.test(value)) {
                                    count++;
                                }
                                if (specialChar.test(value)) {
                                    count++;
                                }
                                if (count < 4 || poundSign.test(value)) {
                                    return callback(new Error(app.i18ns.FDConfig.passWordErrorMsg));
                                } else {
                                    return callback();
                                }
                            }
                        } else {
                            if ((app.isAlarmPasswordDisabled && app.dialogEditFormVisible) || (!app
                                    .isSettingAlarm &&
                                    app
                                    .dialogAddFormVisible)) {
                                return callback();
                            }
                            return callback(new Error(app.i18ns.FDConfig.alarmPasswordNullTips));
                        }
                    },
                    trigger: 'change'
                },
                port: {
                    required: true,
                    validator: function (rule, value, callback) {
                        if (value) {
                            if (!/^[0-9]{1,5}$/.test(value) || value > 65535 || value < 1) {
                                return callback(new Error(app.i18ns.FDConfig.legthCheckMore));
                            } else
                                return callback();
                        } else {
                            return callback(new Error(app.i18ns.FDConfig.portNull));
                        }
                    },
                    trigger: 'change'
                },


            },
            dialogCertVisible: false,
            certForm: {
                fileName: '',
                file: ''
            },
            certRules: {
                fileName: {
                    required: true,
                    message: '',
                    trigger: 'blur'
                }
            },
            emptyText: ''
        },
        computed: {
            isSettingAlarm: function () {
                if (this.ruleForm.haStatus || this.ruleForm.alarmStatus) {
                    return true;
                } else {
                    if (this.dialogAddFormVisible && this.$refs['ruleForm']) {
                        for (var i = 0; i < this.$refs['ruleForm'].fields.length; i++) {
                            if (this.$refs['ruleForm'].fields[i].prop == "alarmPassword") {
                                this.$refs['ruleForm'].fields[i].resetField();
                            }
                        }
                    }
                    if (this.dialogEditFormVisible && this.$refs['editForm'] && !this.checked1) {
                        for (var i = 0; i < this.$refs['editForm'].fields.length; i++) {
                            if (this.$refs['editForm'].fields[i].prop == "alarmPassword") {
                                this.$refs['editForm'].fields[i].resetField();
                                this.ruleForm.alarmPassword = '';
                            }
                        }
                    }
                    return false;
                }
            },
            isAlarmPasswordDisabled: function () {
                if (this.row.haStatus == 1 || this.row.alarmStatus == 1) {
                    return !this.checked1;
                } else {
                    return !this.isSettingAlarm
                }
            }
        },
        created: function () {
            this.i18ns = getIn18();
            this.emptyText = this.i18ns.common.loading;
            if (pluginName == "DirectorForvCenter") {
                this.checkSetting();
                if (localStorage.getItem('supportHA') === 'false') {
                    this.canEnabledHA = false;
                }
            }
            var _pageSize = localStorage.getItem("FDPageSize");
            if (_pageSize) {
                this.pageSize = parseInt(_pageSize);
            };
            this.certRules.fileName.message = this.i18ns.FDConfig.uploadCertTips;

        },
        mounted: function () {
            //获取列表数据
            this.getListData('');
            console.log(getCookie('JSESSIONID'));
            var that =this
            //输入框键盘事件监听
            $('.is-in-pagination .el-input__inner').bind('keydown',function(event){
                if(event.keyCode == "13") {
                    var value = parseInt(this.value);
                    that.handleCurrentChange(value);
                }
            });
        },
        methods: {
            toensurePage:function(){
                    var value = parseInt($('.is-in-pagination .el-input__inner').val());
                    this.handleCurrentChange(value);
                },
            checkSetting: function () {
                FDManage.getSetting(function (ret) {
                    if (ret.data == null) {
                        /*  localStorage.setItem("fromUrl", '../FDConfig/index.html');
                         window.location.href = '../setting/index.html?s=' + Math.random(); */
                        var msg = "please to configure vCenter setting first.";
                        if (localStorage.getItem('lang') == "zhCN") {
                            msg = "请先配置vCenter信息";
                        }
                        alertMsg(msg);
                    }
                });
            },
            getVersion: function () {
                FDManage.getVersion(function (ret) {
                    if (ret.code == '0') {
                        localStorage.setItem('supportHA', ret.supportHA);
                        if (!ret.supportHA) {
                            app.canEnabledHA = false;
                        }
                    }
                });
            },
            /**
             * 设置一页显示的数据总条数
             * 
             * @param {any} val 
             */
            handleSizeChange: function (val) {
                this.pageSize = val;
                this.currentPage = 1;
                localStorage.setItem("FDPageSize", val);
                this.getListData('');
            },
            /**
             * 切换当前显示页
             * 
             * @param {any} val 
             */
            handleCurrentChange: function (val) {
                this.currentPage = val;
                this.getListData('');
            },

            /**
             * 搜索功能
             * 
             * @param {any} keyword 
             */
            search: function (keyword) {
                this.getListData(keyword);
            },
            checkChange: function () {
                this.isFalseVisible = false;
                this.isVisible = false;
                for (var i = 0; i < this.$refs['editForm'].fields.length; i++) {
                    if (this.$refs['editForm'].fields[i].prop == "loginPwd") {
                        this.$refs['editForm'].fields[i].resetField();
                    }
                }
            },

            /**
             * 测试链接
             * 
             */
            linkTest: function (type) {
                var bl = false;
                if (type == 0) {
                    this.$refs['ruleForm'].validateField('hostIp', function (error) {
                        if (error) {
                            bl = true;
                        }
                    });
                    this.$refs['ruleForm'].validateField('port', function (error) {
                        if (error) {
                            bl = true;
                        }
                    });
                    this.$refs['ruleForm'].validateField('loginAccount', function (error) {
                        if (error) {
                            bl = true;
                        }
                    });
                    this.$refs['ruleForm'].validateField('loginPwd', function (error) {
                        if (error) {
                            bl = true;
                        }
                    });
                } else {
                    this.$refs['editForm'].validateField('hostIp', function (error) {
                        if (error) {
                            bl = true;
                        }
                    });
                    this.$refs['editForm'].validateField('port', function (error) {
                        if (error) {
                            bl = true;
                        }
                    });
                    this.$refs['editForm'].validateField('loginAccount', function (error) {
                        if (error) {
                            bl = true;
                        }
                    });
                    this.$refs['editForm'].validateField('loginPwd', function (error) {
                        if (error) {
                            bl = true;
                        }
                    });
                }
                if (bl) {
                    return;
                }
                app.fullscreenLoading = true;
                FDManage.test({
                    hostIp: app.ruleForm.hostIp,
                    port: app.ruleForm.port,
                    aliasName: app.ruleForm.aliasName,
                    loginAccount: app.ruleForm.loginAccount,
                    loginPwd: app.ruleForm.loginPwd
                }, app.linkTestCallBack);
            },
            /**
             * 添加FD
             * 
             */
            addFD: function () {
                if (this.$refs['ruleForm']) {
                    this.$refs['ruleForm'].resetFields();
                }
                FDManage.getDefaultAlarmUserName(function (ret) {
                    if (ret.code == '0') {
                        app.ruleForm.alarmUsername = ret.data;
                    }
                });
                this.ruleForm.hostIp = '';
                this.ruleForm.port = 443;
                this.ruleForm.aliasName = '';
                this.ruleForm.loginPwd = '';
                this.ruleForm.loginAccount = '';
                this.ruleForm.haStatus = false;
                this.ruleForm.alarmStatus = false;
                this.ruleForm.alarmLevel = '';
                this.dialogTitle = app.i18ns.FDConfig.addFD;
                this.dialogAddFormVisible = true;
                this.isWhatDescription = '';
                this.isFalseWhatDescription = '';
                this.isVisible = false;
                this.isFalseVisible = false;

            },
            /**
             * 编辑FD
             * 
             * @param {any} index 
             * @param {any} row 
             */
            editFD: function (index, row) {
                if (this.$refs['editForm']) {
                    this.$refs['editForm'].resetFields();
                }
                this.dialogEditFormVisible = true;
                this.isWhatDescription = '';
                this.isFalseWhatDescription = '';
                this.isVisible = false;
                this.isFalseVisible = false;
                this.row = row;
                this.ruleForm.id = row.id;
                this.ruleForm.hostIp = row.hostIp;
                this.ruleForm.port = row.port;
                this.ruleForm.aliasName = row.aliasName;
                this.ruleForm.loginPwd = row.loginPwd;
                this.ruleForm.loginAccount = row.loginAccount;
                if (row.alarmStatus == 1) {
                    this.ruleForm.alarmStatus = true;
                    this.ruleForm.alarmLevel = row.alarmLevel;
                } else {
                    this.ruleForm.alarmStatus = false;
                    this.ruleForm.alarmLevel = '';
                }
                this.ruleForm.haStatus = row.haStatus == 1 ? true : false;
                this.ruleForm.alarmUsername = row.alarmUsername;
                this.ruleForm.alarmPassword = row.alarmPassword;


            },
            /**
             * 保存配置
             * 
             */
            save: function () {
                this.$refs['ruleForm'].validate(function (valid) {
                    if (valid) {
                        app.fullscreenLoading = true;
                        var param = {
                            hostIp: app.ruleForm.hostIp,
                            port: app.ruleForm.port,
                            aliasName: app.ruleForm.aliasName,
                            loginAccount: app.ruleForm.loginAccount,
                            loginPwd: app.ruleForm.loginPwd,
                            haStatus: app.ruleForm.haStatus ? 1 : 0,
                            alarmStatus: app.ruleForm.alarmStatus ? 1 : 0,
                            alarmUsername: app.ruleForm.alarmUsername,
                            alarmPassword: app.ruleForm.alarmPassword,
                            alarmLevel: app.ruleForm.alarmLevel
                        }
                        FDManage.add(param, function (ret) {
                            var msg = app.i18ns.FDConfig.addSucc;
                            if (ret.code == '0') {
                                app.fullscreenLoading = false;
                                app.alertMsg(msg, function () {
                                    app.dialogAddFormVisible = false;
                                    app.getListData('');
                                });
                            } else {
                                msg = getErrorMsg(ret);
                                this.alertMsg(msg);
                                app.fullscreenLoading = false;
                            }
                        })
                    } else {
                        app.fullscreenLoading = false;
                        console.log('error submit!!');
                        return false;
                    }
                });

            },
            edit: function () {
                this.$refs['editForm'].validate(function (valid) {
                    if (valid) {
                        app.fullscreenLoading = true;
                        var param = {
                            id: app.ruleForm.id,
                            hostIp: app.ruleForm.hostIp,
                            port: app.ruleForm.port,
                            aliasName: app.ruleForm.aliasName,
                            haStatus: app.ruleForm.haStatus ? 1 : 0,
                            alarmStatus: app.ruleForm.alarmStatus ? 1 : 0,
                            alarmLevel: app.ruleForm.alarmLevel
                        };
                        if (app.checked) {
                            _.assign(param, {
                                loginAccount: app.ruleForm.loginAccount,
                                loginPwd: app.ruleForm.loginPwd
                            })
                        }
                        if (app.checked1 || !app.isAlarmPasswordDisabled) {
                            _.assign(param, {
                                alarmUsername: app.ruleForm.alarmUsername,
                                alarmPassword: app.ruleForm.alarmPassword
                            })
                        }
                        FDManage.edit(param, function (ret) {
                            var msg = app.i18ns.FDConfig.editSucc;
                            if (ret.code == '0') {
                                app.fullscreenLoading = false;
                                app.dialogEditFormVisible = false;
                                app.getListData('');
                                app.alertMsg(msg, function () {});
                            } else {
                                msg = getErrorMsg(ret);
                                this.alertMsg(msg);
                                app.fullscreenLoading = false;
                            }
                        });

                    } else {
                        app.fullscreenLoading = false;
                        console.log('error submit!!');
                        return false;
                    }
                });

            },
            /**
             * 删除FD配置
             * 
             * @param {any} index 
             * @param {any} row 
             */
            deleteFD: function (index, row) {
                this.$confirm(app.i18ns.FDConfig.deleteTips, app.i18ns.common.prompt, {
                    confirmButtonText: app.i18ns.common.confirm,
                    cancelButtonText: app.i18ns.common.cancel,
                    closeOnClickModal: false,
                    type: 'warning'
                }).then(function () {
                    app.fullscreenLoading = true;
                    FDManage.delete({
                        ids: [row.id]
                    }, function (ret) {
                        app.fullscreenLoading = false;
                        setCurrentFD('');
                        if (ret.code === '0') {
                            app.alertMsg(app.i18ns.FDConfig.deleteSucc);
                            app.currentPage = 1;
                            app.getListData('');
                        } else {
                            var msg = getErrorMsg(ret);
                            //要根据Code得到错误提示。
                            app.alertMsg(msg);
                        }
                    });
                }).catch(function () {

                });
            },
            /**
             * 获取FD列表
             * 
             * @param {any} keyword 
             */
            getListData: function (keyword) {
                var queryParam = {
                    param: {
                        pageNo: this.currentPage,
                        pageSize: this.pageSize,
                        hostIP: keyword
                    }
                }
                FDManage.getList(queryParam, this.bindList);
            },
            /**
             * 数据回调函数
             * 
             * @param {any} ret 
             */
            bindList: function (ret) {
                this.loading = true;
                this.emptyText = this.i18ns.common.noData;
                this.isDisable = true;
                this.listData = [];
                this.allListData = [];
                if (ret.code == '0') {

                    this.allListData = ret.data;
                    this.listData = ret.data;
                    this.total = ret.totalNum || 0;
                    for (let i = 0; i < ret.data.length; i++) {
                        (function (hostIp, index) {
                            FDManage.getFDVersion({
                                ip: hostIp,
                            }, (function (res) {
                                if (res.code == '0') {
                                    Object.assign(app.listData[index], {
                                        fdVersion: res.data[0].data.CurrentVersion
                                    })
                                }
                            }))
                        })(ret.data[i].hostIp, i)
                    }
                } else {
                    var msg = getErrorMsg(ret);
                    this.alertMsg(msg);
                    this.fullscreenLoading = false;
                }
                this.fullscreenLoading = false;
                this.loading = false;

            },
            closeAlert: function () {
                app.isVisible = false;
                app.isFalseVisible = false;
            },
            /**
             * 测试链接回调函数
             * 
             * @param {any} ret 
             */
            linkTestCallBack: function (ret) {
                var msg = '';
                app.fullscreenLoading = false;
                if (ret.code == '0' || ret.code == '200') {
                    msg = app.i18ns.FDConfig.linkTestSucc;
                    app.isVisible = true;
                    app.isFalseVisible = false;
                    app.isWhatDescription = msg;
                } else {
                    msg = getErrorMsg(ret);
                    app.isFalseWhatDescription = app.i18ns.FDConfig.linkTestFalse + ":" + msg;
                    app.isVisible = false;
                    app.isFalseVisible = true;
                }
            },

            /**
             * 提醒框方法
             * 
             * @param {any} msg 
             * @param {any} callback 
             */
            alertMsg: function (msg, callback) {
                this.$alert(msg, this.i18ns.common.prompt, {
                    confirmButtonText: this.i18ns.common.confirm,
                    callback: function () {
                        callback && callback()
                    }
                });

            },
            /**
             * 关闭弹出框
             * 
             */
            closeDialog: function () {
                this.checked = false;
                this.checked1 = false;
                this.isVisible = false;
                this.isFalseVisible = false;
                if (this.$refs['ruleForm']) {
                    this.$refs['ruleForm'].resetFields();
                }
                if (this.$refs['editForm']) {
                    this.$refs['editForm'].resetFields();
                }
            },
            /**
             * input输入框事件
             * 
             */
            onVlaueChange: function () {
                app.isVisible = false;
                app.isFalseVisible = false;
            },
            /**
             * 全选事件
             * 
             * @param {any} val 
             */
            handleSelectionChange: function (val) {
                console.log(val);
                this.multipleSelection = val;
            },
            /**
             * 批量删除事件
             * 
             * @returns 
             */
            batchDeleteFD: function () {
                if (this.multipleSelection.length === 0) {
                    return false;
                }
                this.$confirm(app.i18ns.FDConfig.batchDeleteTips, app.i18ns.common.prompt, {
                    confirmButtonText: app.i18ns.common.confirm,
                    cancelButtonText: app.i18ns.common.cancel,
                    closeOnClickModal: false,
                    type: 'warning'
                }).then(function () {
                    setCurrentFD('');
                    app.fullscreenLoading = true;
                    var ids = [];
                    for (var i = 0; i < app.multipleSelection.length; i++) {
                        ids.push(app.multipleSelection[i].id);
                    }
                    FDManage.delete({
                        ids: ids.join(',')
                    }, function (ret) {
                        app.fullscreenLoading = false;
                        if (ret.code === '0') {
                            app.alertMsg(app.i18ns.FDConfig.deleteSucc);
                            app.getListData('');
                        } else {
                            var msg = getErrorMsg(ret);
                            app.alertMsg(msg);
                        }
                    });
                }).catch(function () {

                });
            },
            alarmEnabledChange: function (val) {
                if (!val) {
                    this.ruleForm.alarmLevel = '';
                } else {
                    this.ruleForm.alarmLevel = 0;
                }
            },
            pushEventLevelChange: function (val) {
                if (val == '0' || val == '1') {
                    this.ruleForm.alarmStatus = true;
                }
            },
            /**
             * 关闭上传证书弹窗
             */
            certClose: function () {
                this.dialogCertVisible = false;
                this.certForm = {
                    fileName: '',
                    file: ''
                }
            },
            /**
             * 触发隐藏的选择文件input
             */
            changeCert: function () {
                this.$refs.file.click();
            },

            /**
             * 选择文件
             */
            handleFileUpload: function () {
                var name = this.$refs.file.files[0].name;
                if (name.substr(name.lastIndexOf('.') + 1) != 'crt') {
                    this.$alert(app.i18ns.FDConfig.changeCertError, app.i18ns.common
                        .prompt, {
                            confirmButtonText: app.i18ns.common.confirm
                        });
                    return;
                }
                this.file = this.$refs.file.files[0];
                this.certForm.fileName = this.$refs.file.files[0].name;
                this.$refs['certForm'].validateField('fileName', function () {});
            },

            /**
             * 上传证书
             */
            uploadCert: function () {
                this.$refs['certForm'].validate(function (valid) {
                    if (valid) {
                        var formData = new FormData();
                        formData.append('file', app.$refs.file.files[0]);
                        $.ajax({
                            url: com_huawei_fdvcenterpluginui.webContextPath +
                                '/rest/services/settings/cert',
                            type: 'POST',
                            cache: false,
                            data: formData,
                            processData: false,
                            //contentType: 'multipart/form-data',
                            contentType: false,
                            success: function (response) {
                                if (response.code == '0') {
                                    alertMsg(app.i18ns.FDConfig.uploadSuccess);
                                    app.certClose();
                                } else {
                                    var msg = getErrorMsg(response);
                                    alertMsg(msg);
                                }
                            }
                        })
                    } else {
                        return false;
                    }
                });
            }

        }

    })
</script>

</html>